.assistant-result {
  .holder {
    max-width: 1125px;
  }
  .title-result-assistant {
    color: #000;
    font-family: 'GothamBook', sans-serif;
    font-size: 18px;
    line-height: 19px;
    margin: 80px auto 94px;
    max-width: 410px;
    width: 100%;
  }
  .content-products-result-assistant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 81px;
  }
  .return-initialize-assistant {
    color: #000;
    cursor: pointer;
    display: block;
    font-family: 'GothamBook', sans-serif;
    font-size: 10px;
    line-height: 11px;
    margin-bottom: 99px;
    margin-left: 35px;
    max-width: 98px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    &:after {
      background: url(assets/images/arrow-black.svg) no-repeat center;
      background-size: contain;
      content: '';
      display: block;
      height: 8px;
      left: -10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
    }
  }
}

@media (max-width: 767px) {
  .assistant-result {
    .title-result-assistant {
      font-size: 15px;
      margin: 45px auto 40px;
      max-width: none;
      text-align: center;
    }
  }
}