.wrapper-slider-assistant {
  margin: 0 auto 168px;
  max-width: 65%;
  padding-top: 42px;
  position: relative;
  width: 100%;
  .prev-text, .next-text {
    bottom: 0;
    color: #E91E63;
    cursor: pointer;
    font-family: 'GothamBook', sans-serif;
    font-size: 10px;
    line-height: 11px;
    max-width: 56px;
    position: absolute;
    text-transform: uppercase;
    transition: font-size 100ms linear, max-width 100ms linear;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
  }
  .prev-text, .next-text, .search-element {
    .inner-direction {
      display: block;
      height: 100%;
      position: relative;
      width: 100%;
      &:after {
        background: url(assets/images/arrow.svg) no-repeat center;
        background-size: contain;
        bottom: 1px;
        content: '';
        cursor: pointer;
        display: block;
        height: 8px;
        margin: 0;
        position: absolute;
        top: 50%;
        width: 8px;
      }
    }
    &.active {
      font-family: 'Gotham Medium', sans-serif;
      font-size: 12px;
      max-width: 68px;
      .inner-direction {
        &:after {
          height: 12px;
          top: 41%;
          width: 12px;
        }
      }
    }
  }
  .prev-text {
    left: 19%;
    .inner-direction {
      &:after {
        left: -9px;
        transform: translateY(-50%) rotate(90deg);
      }
    }
    &.active {
      .inner-direction {
        &:after {
          left: -16px;
        }
      }
    }
  }
  .next-text {
    left: 82%;
    .inner-direction {
      &:after {
        right: -9px;
        transform: translateY(-50%) rotate(270deg);
      }
    }
    &.active {
      .inner-direction {
        &:after {
          right: -15px;
        }
      }
    }
    &.notAvailable {
      color: #D8D8D8;
      z-index: -1;
    }
  }
  .search-element {
    bottom: -2px;
    color: #E91E63;
    cursor: pointer;
    font-family: 'Gotham Medium', sans-serif !important;
    font-size: 16px;
    left: 79%;
    line-height: 15px;
    max-width: 70px;
    min-height: 15px;
    position: absolute;
    text-transform: uppercase;
    transform: translateX(-50%);
    width: 100%;
    .inner-direction {
      &:after {
        height: 12px;
        right: -14px;
        top: 48%;
        transform: translateY(-50%) rotate(270deg);
        width: 12px;
      }
    }
  }
  .slider {
    background: transparent;
    height: 530px;
    z-index: 0;
    .slides {
      margin: 0 auto;
      max-width: 100%;
      .previous-slide, .next-slide {
        display: none;
      }
    }
    .slide {
      .inner-assistant-thumb {
        .assistant-title {
          display: block;
          font-family: 'GothamBook', sans-serif;
          font-size: 25px;
          line-height: 27px;
          margin: 0 auto;
          max-width: 558px;
          min-height: 57px;
          opacity: 0;
          position: relative;
          text-align: center;
          width: 100%;
          &:after {
            background: url(assets/images/color_line.svg);
            background-size: cover;
            bottom: -7px;
            content: '';
            display: block;
            height: 2px;
            left: 50%;
            max-width: 546px;
            opacity: 0;
            position: absolute;
            transform: translateX(-50%);
            width: 100%;
          }
          &.main {
            opacity: 1;
            &:after {
              opacity: 1;
            }
          }
        }
        .assistant-subtitle {
          color: #000;
          font-family: 'GothamBook', sans-serif;
          font-size: 18px;
          line-height: 19px;
          margin: 39px auto 0;
          max-width: 771px;
          text-align: center;
          width: 100%;
        }
        .wrapper-information-test {
          display: flex;
          flex-direction: row;
          margin-top: 87px;
          min-height: 191px;
          padding-top: 31px;
          position: relative;
          &:after {
            background: #000;
            content: '';
            display: block;
            height: 100%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 1px;
          }
          .option {
            position: relative;
            width: 50%;
            .inner-option {
              max-width: 353px;
              width: 100%;
            }
            &.second {
              .inner-option {
                margin-left: auto;
              }
            }
          }
          .form-check {
            margin-bottom: 33px;
            margin-left: 2px;
            min-height: 18px;
            .form-check-label {
              color: #000;
              font-family: 'Gotham Medium', sans-serif;
              text-transform: uppercase;
              font-size: 16px;
              line-height: 18px;
              .form-check-input {
                &:checked ~ .circle {
                  border-color: #E91E63 !important;
                }
              }
              .circle {
                border: 1px solid #4A4A4A;
                .check {
                  background-color: #E91E63 !important;
                }
              }
            }
          }
          .list-option {
            ul {
              list-style: none;
              margin: 0 auto 0 10px;
              padding: 0;
              li {
                color: #000;
                font-family: 'GothamBook', sans-serif;
                font-size: 14px;
                line-height: 15px;
                margin-bottom: 4px;
                position: relative;
                &:after {
                  bottom: 0;
                  content: '·';
                  display: block;
                  left: -9px;
                  height: 100%;
                  position: absolute;
                  width: 100%;
                }
              }
            }
          }
          .calculator {
            .content {
              .side {

              }
              .range-slider {
                background: #D8D8D8;
                height: 5px;
                margin: 0 auto;
                max-width: 500px;
                width: 100%;
                .handle {
                  background: #EB008B;
                  border-radius: 50%;
                  height: 22px;
                  width: 22px;
                }
              }
              .min-value, .max-value {
                color: #000;
                font-family: 'GothamBook', sans-serif;
                font-size: 18px;
                line-height: 19px;
                margin-top: -12px;
                max-width: 110px;
                width: 100%;
              }
              .min-value {
                text-align: right;
              }
            }
          }
          &.additional {
            justify-content: space-around;
            &:after {
              display: none;
            }
          }
        }
      }
    }
    .index {
      display: none;
    }
    .dots {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: -12px auto 0;
      .dot {
        background: #D8D8D8;
        border-radius: 50%;
        color: transparent;
        height: 12px;
        margin: 0 38px;
        position: relative;
        width: 12px;
        &:after {
          background: #D8D8D8;
          content: '';
          display: block;
          height: 2px;
          left: 12px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 76px;
        }
        &.active {
          background: #E91E63;
          border: 1px solid #E91E63;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .wrapper-slider-assistant {
    .slider {
      .slide {
        .inner-assistant-thumb {
          .wrapper-information-test {
            .calculator {
              .content {
                .side {
                  height: 88px;
                }
                .min-value, .max-value {
                  bottom: 0;
                  position: absolute;
                }
                .min-value {
                  left: 0;
                }
                .max-value {
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .wrapper-slider-assistant {
    .slider {
      .slide {
        .inner-assistant-thumb {
          .wrapper-information-test {
            flex-direction: column;
            margin-top: 50px;
            padding-top: 0;
            &:after {
              height: 1px;
              margin: 0 auto;
              width: 90%;
            }
            .option {
              width: 100%;
              .inner-option {
                margin: 0 auto;
                max-width: 85%;
              }
              &.second {
                padding-top: 40px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .wrapper-slider-assistant {
    .slider {
      .dots {
        margin: -8px auto 0;
        padding: 0 15px;
        .dot {
          height: 8px;
          margin: 0 9px;
          width: 8px;
          &:after {
            left: 7px;
            width: 19px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .wrapper-slider-assistant {
    margin: 0 auto 75px;
    max-width: 90%;
    padding-top: 25px;
    .prev-text, .next-text {
      bottom: -35px;
    }
    .search-element {
      bottom: -38px;
    }
    .slider {
      .slides {
        overflow-y: scroll;
      }
      .slide {
        .inner-assistant-thumb {
          .assistant-title {
            font-size: 15px;
            line-height: 19px;
            max-width: 90%;
            &:after {
              max-width: 90%;
            }
          }
          .assistant-subtitle {
            font-size: 13px;
            max-width: 100%;
          }
          .wrapper-information-test {
            margin-bottom: 15px;
            .option {
              margin-bottom: 15px;
            }
            .form-check {
              display: flex;
              justify-content: center;
            }
            .list-option {
              ul {
                li {
                  font-size: 11px;
                }
              }
            }
            .calculator {
              .content {
                .side {
                  height: 88px;
                }
                .min-value, .max-value {
                  bottom: 0;
                  position: absolute;
                }
                .min-value {
                  left: 0;
                }
                .max-value {
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}