.block.business {
  background-color: #F4F4F4;
  padding: 60px 0 40px;
  position: relative;
  overflow: hidden;
  .header {
    margin-bottom: 20px;
    .main-title {
      display: flex;
      justify-content: center;
      .title {
        color: #000000;
        position: relative;
        &:after {
          content: '';
          background: url(assets/images/color_line.svg) no-repeat center center;
          background-size: cover;
          bottom: 0;
          height: 3px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
      span {
        display: inline-block;
        margin-bottom: -1px;
        width: 90px;
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
  .content {
    font-family: 'GothamBook', sans-serif;
    .content-title {
      font-size: 18px;
      max-width: 290px;
      margin: 0 auto;
      a {
        color: #4A4A4A;
        display: block;
        text-align: center;
      }
      .more {
        color: #E91E63;
        font-family: 'GothamBold', sans-serif;
        font-size: 12px;
        margin: 10px 0;
        position: relative;
        text-transform: uppercase;
        &:after {
          content: '';
          background: url(assets/images/arrow.svg) center center no-repeat;
          height: 16px;
          left: calc(50% - 6px);
          bottom: -10px;
          position: absolute;
          width: 22px;
          transform: rotate(0deg);
          transition: transform 355ms linear;
        }
      }
      &.active {
        .more {
          &:after {
            transform: rotate(-180deg);
          }
        }
      }
    }
    .content-info {
      font-family: 'GothamBook', sans-serif;
      font-size: 12px;
      height: 0;
      overflow: hidden;
      transition: height 355ms ease-in-out;
      padding-top: 30px;
      .intro {
        max-width: 300px;
        margin: 0 auto 20px;
        padding-left: 70px;
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;
        &:after {
          content: '';
          background: url(assets/images/inksumos-para-empresas.svg) left;
          background-repeat: no-repeat;
          left: 0;
          top: 0;
          height: 100%;
          position: absolute;
          width: 100%;
        }
      }
      .advantages {
        font-size: 13px;
        margin-top: 20px;
        .title {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .block.business {

  }
}

@media (min-width: 767px) {
  .block.business {
    padding-top: 40px;
    .header {
      .main-title {
        .title {
          font-size: 25px;
        }
        span {
          width: 110px;
        }
      }
    }
    .content {
      .content-title {
        max-width: 355px;
      }
      .content-info {
        font-size: 16px;
        .intro {
          max-width: 465px;
          margin: 0 auto 40px;
          &:after {
            content: '';
            background: url(assets/images/inksumos-para-empresas.svg) no-repeat left;
            left: 0;
            top: 0;
            height: 100%;
            position: absolute;
            width: 100%;
          }
        }
        .advantages {
          font-size: 14px;
          .header {
            .main-title {
              justify-content: flex-start;
              .title:after {
                left: -40%;
              }
            }
          }
          .title {
            margin-bottom: 0;
          }
          ul {
            padding-left: 10px;
          }
        }
      }
    }
  }
}