/*
    Document   : _calculator.scss
    Created on : 21/09/2017, 07:050:15 PM
    Author     : cesarmejia
    Description:
*/

.calculator {
  width: 100%;

  .content {
    align-items: center;
    display: flex;

    .side {
      padding: 30px 35px;
      position: relative;
      width: 100%;

      &:after {
        border-left: 10px solid #CD200C;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;

        content: "";
        display: block;
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    .range-slider {
      margin-bottom: 30px;
    }

    .min-value,
    .max-value {
      color: #5E5E5E;
      font-family: "SourceSansPro-SemiBold", sans-serif;
      font-size: 18px;
    }

    .min-value {
      float: left;
    }
    .max-value {
      float: right;
    }

  }

}