.util-carrousel {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  width: 100%;
  z-index: 0;
  img {
    display: none;
  }
  .carrousel-wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
  }
  .prev-button {
    left: 5px;
  }
  .next-button {
    right: 5px;
  }
  .thumb {
    float: left;
    font-family: 'Arial', sans-serif;

    .image {
      margin-bottom: 15px;
      overflow: hidden;
      width: 100%;
      .inner-image {
        padding-bottom: 100%;
        position: relative;
      }
      img {
        height: auto;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
    .title {
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 15px;
      text-align: center;
    }
    .description {
      margin-bottom: 15px;
      text-align: justify;
    }
    .button {
      background-color: #128aff;
      border-radius: .2em;
      color: #fff;
      display: inline-block;
      padding: 5px 15px;
      text-align: center;
      text-decoration: none;
    }
  }
}

.util-carrousel .prev-button,
.util-carrousel .next-button {
  background-color: #128aff;
  cursor: pointer;
  height: 20px;
  margin: -10px 10px 0;
  position: absolute;
  top: 50%;
  width: 20px;
  z-index: 1;
}
