.woocommerce-message{
  border-top-color: #E91E63;
  &:before{
    color: #E91E63;
  }
}
.woocommerce{
  margin: 0 auto;
  margin-bottom: 76px;
  margin-top: 80px;
  max-width: 1090px;
  min-height: calc(100vh - 286px);
  position: relative;
  .cart{
    .button{
      background-color: #E91E63;
      border-radius: 22.5px;
      box-shadow: none;
      color: #fff;
      display: initial !important;
      height: 45px;
      transition: box-shadow 550ms;
      width: 160px !important;
      &:hover{
        background-color: #E91E63;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
        color: #fff;
      }
    }
  }
  .cart-empty, .return-to-shop{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .cart-empty{
    text-align: center;
  }
  .return-to-shop{
    margin-top: 40px;
  }
  a.button{
    background-color: #E91E63;
    box-shadow: none;
    color: #fff;
    transition: box-shadow 550ms;
    &:hover{
      background-color: #E91E63;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
      color: #fff;
    }
  }
  a.remove{
    color: #E91E63 !important;
    &:hover{
      color: #fff;
      background: #E91E63 !important;
    }
  }
  .cart-content{
    .cart-title{
      font-size: 25px;

      .line-decoration {
        @include line-decoration(114px, 3px);
        left: 44px;
        position: absolute;
      }
    }
    .back-btn{
      align-items: center;
      bottom: 0;
      color: #000;
      display: flex;
      font-family: 'GothamBook', sans-serif;
      font-size: 10px;
      justify-content: center;
      position: absolute;
      text-decoration: none;
      text-transform: uppercase;
      width: fit-content;
      .icon2{
        display: none;
      }
      .text{
        margin-left: 2px;
      }
      &:hover{
        color: #E91E63;
        .icon1{
          display: none;
        }
        .icon2{
          display: block;
        }
      }
    }
    form{
      table{
        border: none !important;
        th{
          font-size: 14px;
          font-family: 'GothamBook', sans-serif;
          font-weight: inherit !important;
          text-transform: uppercase;
        }
        tbody{
          tr{
            height: 184px;
            &:last-child{
              height: initial;
            }
          }
        }
        .cart-link{
          box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.50);
          background: #FFFFFF;
          display: block;
          height: 130px;
          margin: 0 auto;
          position: relative;
          width: 130px;
          img{
            left: 50%;
            position: relative;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
          }
        }
        .product-name{
          a{
            color: #4A4A4A;
            font-family: 'GothamMedium', sans-serif;
            font-size: 20px;
            text-decoration: none;
          }
        }
        .product-subtotal{
          .woocommerce-Price-amount{
            color: #E91E63;
          }
        }
      }
    }
  }
  .cart_totals{
    table{
      border: none !important;
      th, td{
        text-align: right;
      }
    }
    .wc-forward{
      align-items: center;
      background: #E91E63 !important;
      border: 2px solid #fff;
      border-radius: 22.5px;
      display: flex;
      float: right;
      height: 45px;
      justify-content: center;
      width: 160px;
      &:after {
        background: url(assets/images/arrow-white.svg) no-repeat center;
        background-size: contain;
        content: '';
        display: block;
        height: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 40px;
        width: 5px;
      }
      &:hover{
        background: #ffffff !important;
        border: 2px solid #E91E63;
        color: #e91e63 !important;
      }
      &:hover:after{
        background: url(assets/images/pink-arrow.svg) center no-repeat;
        background-size: contain;
        transform: translateY(-50%) rotate(90deg);
        width: 10px;
      }
    }
  }
  .quantity{
    .qty{
      color: #e91e63;
    }
  }
  .cart_totals{
    .shop_table, .shop_table_responsive{
      tbody{
        tr{
          color: #9A9A9A;
          font-family: 'GothamBook', sans-serif;
          font-size: 18px;
          font-weight: initial;
        }
        .order-total{
          color: #000;
        }
      }
    }
  }
  ul#shipping_method{
    li{
      label{
        color: transparent;
      }
    }
    .amount{
      color: #9A9A9A;
      font-family: 'GothamBook', sans-serif;
      font-size: 18px;
      font-weight: initial;
    }
  }
  .woocommerce-shipping-destination,
  .woocommerce-shipping-calculator{
    display: none;
  }
}

@media (max-width: 767px){
  .woocommerce {
    .cart-content {
      form {
        table {
          tbody {
            tr{
              height: initial;
            }
          }
        }
      }
    }
  }
}