.checkout{
  p {
    color:#686868;
  }
  .hidden {
    display: none;
  }
  padding: 0 15px;
  .hidden{
    //display: none;
  }
  .title{
    font-family: 'GothamMedium', sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: normal;
    width: fit-content;
  }
  .line-decoration{
    margin: 0;
    > span{
      margin: 0;
      width: 22px;
    }
  }
  .line-decoration-right {
    float: right;
    position: relative;
    top: 17px;
    right: 17px;
  }
  .rfc-container,
  .form-address {
    .title {
      font-size: 16px;
      min-height: 0px;
      margin: 8px 0;
    }
    ul {
      list-style-type: none;
    }
    li {
      position: relative;
    }
    label {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .address {
      font-size: 16px;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 12px;
      height: 14px;
      width: 14px;
      background-color: transparent;
      border: 1px solid #E91E63;
      border-radius: 50%;
    }
    input:checked ~ .checkmark {
      border: 1px solid #E91E63;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    input:checked ~ .checkmark:after {
      display: block;
    }
    .checkmark:after {
      content: ' ';
      width: 8px;
      height: 8px;
      border-radius: 50px;
      position: absolute;
      top: 2px;
      background: #E91E63;
      text-shadow: 0px;
      left: 2px;
      font-size: 32px;
    }
  }
  .different-address {
    position: relative;
    h2 {
      color:#3c4858;
      font-family: 'GothamMedium', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      margin:30px 0;
      width: fit-content;
    }
    input {
      -webkit-appearance: none;
      background-color: transparent;
      border: 1px solid #4A4A4A;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
      padding: 6px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      bottom:10px;
      left:0;
    }
    input:active, input:checked:active {
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }
    input:checked {
      border: 1px solid #E91E63;
    }
    input:checked:after {
      content: ' ';
      width: 8px;
      height: 8px;
      border-radius: 50px;
      position: absolute;
      top: 2px;
      background: #E91E63;
      text-shadow: 0px;
      left: 2px;
      font-size: 32px;
    }
    .label {
      bottom: 0;
      font-size: 16px;
      color:#212121;
      left: 20px;
      position: absolute;
    }
  }
}

.login-checkout{
  display: block;
  margin: 0 auto;
  max-width: 807px;
  width: 100%;
  .content{
    margin: 0 auto;
    max-width: 652px;
    .info{
      margin: initial;
      margin-top: 38px;
      padding: 0;
    }
  }
  .textarea-container{
    margin-top: 39px;
    textarea{
      height: 155px !important;
      width: 100%;
    }
  }
  .billing-wrapper{
    display: none;
    .title{
      margin-top: 0;
    }
  }
}

.checkout-logout,
.login-checkout {
  display: block;
  margin: 0 auto;
  max-width: 807px;
  width: 100%;
  span{
    color: #4A4A4A;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }

  /* Chrome/Opera/Safari */
  ::-webkit-input-placeholder {
    color: #A9A9A9;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }
  /* Firefox 19+ */
  ::-moz-placeholder {
    color: #A9A9A9;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }
  /* IE 10+ */
  :-ms-input-placeholder {
    color: #A9A9A9;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }
  /* Firefox 18- */
  :-moz-placeholder {
    color: #A9A9A9;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }

  .input-container.invalid{
    /* Chrome/Opera/Safari */
    ::-webkit-input-placeholder { color: #E91E63; }
    /* Firefox 19+ */
    ::-moz-placeholder { color: #E91E63; }
    /* IE 10+ */
    :-ms-input-placeholder { color: #E91E63; }
    /* Firefox 18- */
    :-moz-placeholder { color: #E91E63; }
    svg{
      #REGISTRO{
        fill: #e91e63;
      }
    }
    label{
      color: #e91e63;
    }
  }

  .input-clue{
    display: none;
  }

  .flex-container{
    display: flex;
  }
  #shipping_first_name_field,
  #shipping_postcode_field,
  #shipping_state_field{
    width: 50%;
  }
  #shipping_ext_field,
  #shipping_int_field,
  #shipping_lada_field,
  .small-input {
    width: 25%;
  }
  .input-container{
    padding: 3px;
    input{
      border: 1px solid #4A4A4A;
      font-family: 'GothamMedium', sans-serif;
      font-size: 13px;
      height: 38px;
      padding: 0 10px;
      width: 100%;
    }
    .invalid{
      border: 1px solid #E91E63;
    }
  }
  textarea{
    height: 155px !important;
    width: 100%;
  }

  .shipping{
    margin-top: 45px;
    .title{
      color: #000;
      font-family: 'GothamMedium', sans-serif;
      font-size: 18px;
      margin-right: 10px;
    }
    .billing-wrapper,
    .billing-fields{
      display: none;
      h2 {
        color:#4A4A4A;
      }
    }
    .rfc-container {
      ul {
        column-count: 3;
      }
      label {
        color: #4A4A4A;
      }
      .address-check {
        top:0px !important;
      }
    }
    .billing-address {
      margin-top: 50px;
      .flex-container{
        .radios-group{
          margin: 0 20px;
        }
      }
    }
    .shipping-wrapper {
      position: relative;
    }
    .check {
      ul {
        padding-left: 0;
        list-style: none;
        li {
          position: relative;
          padding-left: 25px;
          .title {
            color:#4A4A4A;
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 10px;
            min-height: 10px;
          }
          label {
            color:#4A4A4A;
            margin-bottom: 35px;
          }
          input.invalid {
            border:1px solid #e91e63;
          }
          .address-check {
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid #4A4A4A;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
            padding: 6px;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            top:10px;
            left:0;
          }
          .address-check:active, .address-check:checked:active {
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
          }
          .address-check:checked {
            border: 1px solid #E91E63;
          }
          .address-check:checked:after {
            content: ' ';
            width: 8px;
            height: 8px;
            border-radius: 50px;
            position: absolute;
            top: 2px;
            background: #E91E63;
            text-shadow: 0px;
            left: 2px;
            font-size: 32px;
          }
        }
      }
    }
  }
}

.woocommerce-checkout {
  #payment {
    background: transparent;
    border: none;
    ul.payment_methods{
      border: none;
      display: flex;
      .payment_method_bacs{
        margin-left: 72px;
      }
    }
  }
}

.facturation-wrpr{
  .input-wrpr{
    align-items: center;
    display: flex;
    label{
      color: #000;
      font-size: 18px;
      margin: 0;
    }
    input{
      margin-left: 28px;
      width: fit-content;
    }
  }
}

.terms-conditions{
  p {
    margin-bottom: 0;
  }
  .input-container{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    label{
      margin: 0;
      margin-left: 10px;
    }
    input{
      width: fit-content;
    }

  }
}

.addr-fact-wrpr{
  color: #000;
  font-size: 18px;
  font-weight: 400;
  width: fit-content;
  .line-decoration{
    float: right;
    position: relative;
    right: -30px;
    top: 15px;
  }
  .flex-container{
    .input-container{
      align-items: center;
      display: flex;
      width: 20%;
      input{
        margin-right: 6px;
        width: fit-content;
      }
      label{
        color: #000;
        margin: 0;
      }
    }
  }
}

.btn-wrpr{
  display: flex;
  justify-content: space-between;
  .back-btn{
    align-items: center;
    bottom: 0;
    color: #000;
    display: flex;
    font-family: 'GothamBook', sans-serif;
    font-size: 10px;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    .icon2{
      display: none;
    }
    .text{
      color: inherit;
      margin-left: 2px;
    }
    &:hover{
      color: #E91E63;
      .icon1{
        display: none;
      }
      .icon2{
        display: block;
      }
    }
  }
  .my-btn{
    height: 45px;
    transition: background-color 375ms ease-in-out;
    width: 160px;
    span{
      color: #ffffff;
      transition: color 375ms ease-in-out;
    }
    &:after {
      background: url(assets/images/arrow-white.svg) no-repeat center;
      background-size: contain;
      content: '';
      display: block;
      height: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 40px;
      width: 5px;
    }
    &:hover{
      border: 2px solid #E91E63;
      background: #ffffff;
      color: #E91E63;
      span{
        color: #e91e63;
      }
    }
    &:hover:after{
      background: url(assets/images/pink-arrow.svg) center no-repeat;
      background-size: contain;
      transform: translateY(-50%) rotate(90deg);
      width: 10px;
    }
  }
}

@media (max-width: 767px) {
  .checkout {
    .title {
      font-size: 15px;
    }
    p {
      font-size: 12px;
    }
    .rfc-container .title, .form-address .title {
      font-size: 15px;
    }
    .rfc-container ul, .form-address ul {
      padding-left: 0;
    }
  }
  .login-checkout .textarea-container textarea {
    border:1px solid #5f5d5d;
    height: 120px !important;
  }
  .woocommerce-checkout #payment ul.payment_methods {
    flex-direction: column;
    .payment_method_bacs {
      margin-left: 0;
    }
  }
}