.block.content-products-view {
  padding: 36px 0 106px;
  position: relative;
  &:after {
    background: url(assets/images/colors.svg) no-repeat center;
    background-size: cover;
    bottom: -5px;
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    right: 15px;
    width: 179px;
  }
  .holder {
    max-width: 1166px;
  }
  .wrapper-content-products {
    display: flex;
    flex-direction: row;
    .wrapper-content-filters {
      opacity: 1;
      transition: opacity 355ms ease-in-out;
      &.initializeSection {
        opacity: 0;
      }
    }
    .main-to-products {
      width: 26%;
      .wrapper-search {
        .search-products {
          .form-group {
            max-width: 178px;
            padding: 0;
            width: 100%;
          }
          .form-control {
            background-image: linear-gradient(0deg, #E91E63 2px, rgba(233, 30, 99, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
            color: #505050;
            font-family: 'Gotham Medium', sans-serif;
            font-size: 12px;
            line-height: 11px;
            width: 100%;
          }
          .btn-sbmt-search {
            background: #E91E63;
            height: 35px;
            margin-left: 11px;
            min-width: 35px;
            width: 35px;
            i {
              color: #fff;
              left: 52%;
              line-height: 37px;
              top: 52%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
      .title-main-products {
        color: #000;
        font-family: 'GothamBold', sans-serif;
        font-size: 21px;
        line-height: 18px;
        margin-top: 38px;
        text-transform: uppercase;
      }
      .filters {
        margin-top: 19px;
        max-width: 226px;
        width: 100%;
        .inner-filter {
          align-items: center;
          cursor: pointer;
          display: flex;
          min-height: 39px;
          position: relative;
          width: 100%;
          &:after {
            background: #4A4A4A;
            bottom: 0;
            content: '';
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            width: 100%;
          }
          .title-filter {
            color: #E91E63;
            font-family: 'Gotham Medium', sans-serif;
            font-size: 14px;
            line-height: 12px;
            width: 84%;
          }
          .arrow-symbol {
            background: url(assets/images/arrow.svg) no-repeat center;
            background-size: contain;
            height: 8px;
            transition: transform 355ms linear;
            width: 13px;
          }
        }
        .content-filter {
          height: 0;
          margin-top: 10px;
          overflow: hidden;
          padding-left: 12px;
          .inner-container {
            height: 100%;
            width: 100%;
            .content-features {
              .container {
                align-items: center;
                color: #979797;
                cursor: pointer;
                display: flex;
                font-family: 'GothamBook', sans-serif;
                font-size: 12px;
                line-height: 13px;
                margin-bottom: 11px;
                min-height: 20px;
                position: relative;
                width: 100%;
                input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0;
                  &:checked ~ .checkmark:after {
                    display: block;
                  }
                }
                .checkmark {
                  border: 1px solid #CACACA;
                  border-radius: 3px;
                  cursor: pointer;
                  height: 20px;
                  left: -9px;
                  margin-right: 6px;
                  position: absolute;
                  width: 20px;
                  &:after {
                    background: url(assets/images/check-blue.svg) no-repeat center;
                    background-size: contain;
                    border: 1px solid #4A4A4A;
                    content: "";
                    display: none;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                  }
                }
                /*input[type=checkbox] {
                  border: 1px solid #CACACA;
                  border-radius: 3px;
                  cursor: pointer;
                  height: 20px;
                  margin-right: 6px;
                  -webkit-appearance: none;
                  width: 20px;
                  &:checked {
                    background: url(assets/images/check-blue.svg) no-repeat center;
                    background-size: contain;
                    border: 1px solid #4A4A4A;
                  }
                }*/
                &.checked {
                  color: #4A4A4A;
                }
              }
            }
          }
        }
        &.open {
          .inner-filter {
            .arrow-symbol {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    .body-content-products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      position: relative;
      transition: all 700ms ease-in-out;
      width: 74%;
      .wrapper-more-inner-products {
        bottom: -55px;
        left: 49%;
        max-width: 114px;
        position: absolute;
        transform: translateX(-50%);
        width: 100%;
        .see-more-inner-products {
          display: block;
          font-family: 'Gotham Medium', sans-serif;
          font-size: 14px;
          line-height: 12px;
          min-height: 41px;
          position: relative;
          text-align: center;
          width: 100%;
          span {
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
          }
        }
      }
      &.list-products {
        flex-direction: column;
        .product-products-component {
          height: 110px;
          margin: 0 0 21px;
          max-width: 759px;
          &:after {
            border-radius: 5px 0 0 5px;
            height: 100%;
            width: 19px;
          }
          &:before {
            height: 100%;
          }
          &:first-child {
            margin-left: inherit;
          }
          .card {
            display: flex;
            flex-direction: row;
          }
          .card-header-image {
            height: 95px;
            max-width: 95px;
            min-height: inherit;
            margin: 7px 0 0 14px !important;
            .image-product-products {
              max-width: 65px;
            }
          }
          .card-body-text {
            display: flex;
            flex-direction: row;
            max-width: none;
            .list-content-description {
              display: flex;
              flex-direction: column;
              justify-content: center;
              max-width: 108px;
              width: 100%;
            }
            .card-body-title {
              margin: -2px auto 0;
              text-align: center;
            }
            .card-body-sku {
              left: 50%;
              margin: 3px 0 0;
              max-width: 86px;
              position: relative;
              transform: translateX(-50%);
            }
            .p1 {
              height: 59px;
              margin: 0;
              max-width: 374px;
              min-height: inherit;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;
            }
            .wrapper-about-product {
              align-items: center;
              max-width: 170px;
              position: relative;
              width: 100%;
              .about-product-price {
                max-width: 110px;
                text-align: center;
                width: 100%;
              }
              .inner-about-product {
                max-width: 65px;
                width: 100%;
                .about-product-available {
                  left: 30%;
                  position: absolute;
                  top: 74%;
                  transform: translate(-50%, -50%);
                }
                .wrapper-car-price {
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .block.content-products-view {
    padding: 25px 0 80px;
    .wrapper-content-products {
      flex-direction: column;
      .main-to-products {
        width: 100%;
        .wrapper-search {
          .search-products {
            margin: 0 auto;
            max-width: 225px;
            width: 100%;
          }
        }
        .title-main-products {
          font-size: 15px;
          margin: 15px 0 10px;
          text-align: center;
          width: 100%;
        }
        .wrapper-menu-products {
          margin: 0 auto 15px;
        }
      }
      .body-content-products {
        justify-content: center;
        width: 100%;
        &.list-products {
          .product-products {
            height: 90px;
            margin: 0 auto 15px;
            max-width: 97%;
            &:after {
              width: 10px;
            }
            .card-header-image {
              height: 75px;
              margin: 7px 0 0 4px;
              max-width: 75px;
              .image-product-products {
                max-width: 55px;
              }
            }
            .card-body-text {
              .card-body-title {
                font-size: 9px;
                line-height: 10px;
              }
              .card-body-sku {
                font-size: 8px;
                text-align: center;
              }
              .card-text-body {
                font-size: 7px;
              }
              .wrapper-about-product {
                flex-direction: column;
                justify-content: center;
                .about-product-price {
                  margin: 13px auto 0;
                }
                .inner-about-product {
                  flex-direction: column;
                  max-width: none;
                  .about-product-available {
                    left: inherit;
                    margin: 5px auto 0;
                    position: relative;
                    top: inherit;
                    transform: none;
                  }
                  .wrapper-car-price {
                    margin: 10px auto 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}