/*
    Document   : _contact.styl
    Created on : 05/02/2019, 11:42:15 AM
    Author     : cesarmejia
    Description:
*/
.contact {
  background-size: cover;
  color: #fff;
  padding: 0;
  position: relative;
  z-index: 0;

  .header {
    font-size: 16px;
    text-align: center;

    .title {
      color: #fff;
      line-height: normal;
      min-height: 0;

      .line-decoration {
        @include line-decoration(114px, 3px);
        margin: 5px auto 0;
      }
    }

    .fake-button {
      background-color: #00ADEE;
      border-radius: 2px;
      box-shadow: 0 0 3px rgba(0, 0, 0, .30);
      color: #fff;
      display: block;
      font-size: 14px;
      line-height: 37px;
      margin: 25px auto 0;
      max-width: 215px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .mobile-background {
    background: url(assets/images/contact-background.jpg) no-repeat 20% center;
    background-size: cover;
    padding-top: 35px;
    position: relative;
    z-index: 0;

    &:before {
      background-color: rgba(0, 0, 0, .70);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .content {
    margin-bottom: 80px;
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0 10px;

    li {
      margin-bottom: 17px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: #fff;
      font-family: 'GothamMedium', sans-serif;
      font-size: 15px;
    }
  }

  .form-card {
    box-shadow: none;
    margin: 0;

    .card-header {
      padding: 12px 15px;
    }

    .card-title {
      font-family: 'GothamBold', sans-serif;
      font-size: 16px;
      margin: 0;
    }

    .card-body {
      padding: 40px 0;
    }

    .card-text {
      font-size: 15px;
      margin-bottom: 10px;
    }

    textarea {
      height: 110px !important;
    }

    button[type=submit] {
      display: block;
      font-family: 'GothamBold', sans-serif;
      font-size: 16px;
      margin: 0 auto;
      max-width: 160px;
      width: 100%;
    }
  }

}

@media screen and (min-width: 768px) {

  .contact {
    background: url(assets/images/contact-background.jpg) no-repeat center center;
    padding: 80px 0;

    &:before {
      background-color: rgba(0, 0, 0, .70);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .header {
      font-size: 18px;
      text-align: start;

      .title {
        font-size: 25px;
        text-align: start;

        .line-decoration {
          margin: 0;
        }
      }
    }

    .content {
      margin-bottom: 0;
    }

    .mobile-background {
      background: none;
      padding-top: 0;

      &:before {
        content: normal;
      }
    }

    .links {
      padding: 0 20px;
    }

    .form-card {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      margin-top: -100px;

      .card-header {
        margin-left: 70px;
        margin-right: 70px;
      }

      .card-title {
        font-size: 20px;
      }

      .card-body {
        padding: 1.625rem 1.875rem;
      }

      .card-text {
        font-size: 18px;
        margin-bottom: 20px;
      }

      textarea {
        height: 130px !important;
      }

      button[type=submit] {
        margin: 30px auto -45px;
      }
    }
  }

}
