.products-cover {
  background: url(assets/images/cover.jpg) no-repeat center;
  background-size: cover;
  height: 340px;
  position: relative;
  width: 100%;
  z-index: 0;
  &:before {
    background: rgba(47, 142, 178, .7);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  .holder {
    height: 100%;
    .wrapper-products-cover {
      align-items: center;
      display: flex;
      left: 49.5%;
      max-width: 536px;
      min-height: 64px;
      position: relative;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 0;
      &:after, &:before {
        content: '';
        display: block;
        position: absolute;
      }
      &:after {
        background: rgba(255, 255, 255, .89);
        height: 100%;
        left: 0;
        top: 0;
        width: 348px;
        z-index: -1;
      }
      &:before {
        background: url(assets/images/colors.svg) no-repeat center;
        background-size: cover;
        bottom: 0;
        height: 3px;
        left: 0;
        width: 160px;
      }
      .products-cover-text {
        color: #4A4A4A;
        font-family: 'GothamBook', sans-serif;
        font-size: 20px;
        line-height: 25px;
        margin-left: 11px;
        max-width: 300px;
        min-height: 50px;
        width: 100%;
        b {
          font-family: 'Gotham Medium', sans-serif;
          font-weight: normal;
        }
      }
      .products-cover-image {
        max-width: 227px;
        position: absolute;
        right: 6px;
        top: 54%;
        transform: translateY(-50%);
        width: 100%;
      }
    }
  }
}

@media (max-width: 550px) {
  .products-cover {
    height: 250px;
    .holder {
      .wrapper-products-cover {
        left: 50%;
        max-width: none;
        min-height: 55px;
        .products-cover-text {
          font-size: 15px;
          line-height: 20px;
          margin: 0 auto;
          max-width: 250px;
          min-height: 45px;
        }
        .products-cover-image {
          max-width: 145px;
          top: 150%;
        }
        &:after {
          width: 100%;
        }
      }
    }
  }
}