.cover {
  overflow: hidden;
  padding: 0;
  .slider-content {
    height: 215px;
    position: relative;
    .search-bar-gplk {
      left: 50%;
      position: absolute;
      top: 22px;
      transform: translate(-50%);
      width: fit-content;
      z-index: 1;
      form {
        background-image: url(assets/images/find-01.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-color: #E91E63;
        border: 1px solid #E91E63;
        padding-right: 20px;
        .screen-reader-text {
          display: none;
        }
        #searchsubmit {
          display: none;
        }
      }
    }
    .slide {
      background-position: center;
      background-size: 110%;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: all 1s;
      width: 100%;
      &:after {
        background: rgba(0, 119, 164, .7);
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
      }
      .content {
        bottom: -25px;
        left: 50%;
        max-width: 320px;
        position: absolute;
        transform: translate(-50%);
        width: 100%;
        z-index: 1;
        .image-cover {
          img {
            width: 100%;
          }
        }
        .btn-gplk {
          align-items: center;
          display: flex;
          justify-content: center;
          left: 50%;
          max-width: 174px;
          min-height: 40px;
          top: 0;
          transform: translate(-50%);
          width: 100%;
          .text {
            color: #fff;
            font-family: 'GothamBold', sans-serif;
            font-size: 13px;
            line-height: 11px;
            margin-top: 2px;
          }
          .arrw {
            display: flex;
            margin-left: 5px;
            max-width: 4px;
            width: 100%;
          }
        }
      }
    }
    .slide-fade {
      background-size: 100%;
      opacity: 1;
    }
  }
  .dots-content {
    height: 11px;
    position: relative;
    margin-top: 26px;
    .dot-container, .dot-container-mob {
      bottom: 0px;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      .dot-badge {
        border: 1px solid #00ADEE !important;
        border-radius: 50%;
        bottom: 0;
        cursor: pointer;
        display: inline-block;
        height: 10px;
        margin: 0 5px;
        padding: 0;
        position: relative;
        text-align: center;
        width: 10px;
      }
      .dot-white {
        background-color: #00ADEE;
        border-color: #00ADEE !important;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .cover {
    .slider-content {
      height: 530px;
      .search-bar-gplk {
        display: none;
      }
      .slide {
        .content {
          bottom: inherit;
          max-width: 818px;
          top: 50%;
          transform: translate(-50%, -50%);
          .btn-gplk {
            top: 0px;
          }
        }
      }
    }
    .dots-content {
      margin-top: 19px;
    }
  }
}