@import '../sass/mixin-validate';

.cover-services {
  background: url(assets/images/cover-services.jpg) no-repeat center fixed;
  background-size: cover;
  height: 400px;
  position: relative;
  z-index: 0;
  &:after {
    background: rgba(47, 142, 178, .55);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .holder {
    height: 100%;
    position: relative;
  }
  .wrapper-services-text {
    align-items: center;
    background: rgba(255, 255, 255, .89);
    display: flex;
    left: 50%;
    max-width: 463px;
    min-height: 64px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    .inner-services-text {
      color: #4A4A4A;
      display: block;
      font-family: 'GothamBook', sans-serif;
      font-size: 20px;
      line-height: 25px;
      margin: 0 auto;
      max-width: 442px;
      min-height: 50px;
      position: relative;
      width: 100%;
      b {
        font-family: 'Gotham Medium', sans-serif;
        font-weight: normal;
      }
      &:after {
        background: url(assets/images/colors.svg) no-repeat center;
        background-size: cover;
        bottom: -8px;
        content: '';
        display: block;
        height: 3px;
        left: -22px;
        position: absolute;
        width: 160px;
      }
    }
  }
}

.message-services {
  .wrapper-content-message {
    color: #000;
    font-family: 'GothamBook', sans-serif;
    font-size: 18px;
    line-height: 19px;
    margin: 97px auto 75px;
    max-width: 678px;
    min-height: 38px;
    position: relative;
    text-align: center;
    width: 100%;
    &:after {
      background: url(assets/images/colors.svg) no-repeat center;
      background-size: cover;
      bottom: -18px;
      content: '';
      display: block;
      height: 4px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 500px;
    }
  }
}

.content-services{
  padding-bottom: 109px;
  .subtitle{
    color: #000;
    font-family: 'Gotham Medium',sans-serif;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    width: 100%;
  }
  .content-advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 58px auto 0;
    max-width: 965px;
    position: relative;
    width: 100%;
    &:after{
      background: #686868;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
    .advantage {
      min-height: 346px;
      position: relative;
      width: 33.33333%;
      &:before, &:after {
        background: #686868;
        bottom: 0;
        content: '';
        display: none;
        height: 100%;
        position: absolute;
        width: 1px;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
      &:nth-child(2), &:nth-last-child(2) {
        &:before, &:after {
          display: block;
        }
      }
      .inner-advantage{
        .image-advantage{
          margin: 83px auto 0;
          max-width: 56px;
          width: 100%;
        }
      }
      .advantage-title{
        color: #000;
        font-family: 'Gotham Medium',sans-serif;
        font-size: 16px;
        line-height: 15px;
        margin-top: 34px;
        min-height: 15px;
        text-align: center;
        width: 100%;
      }
      .description-advantage {
        color: #727272;
        font-family: 'GothamBook', sans-serif;
        font-size: 14px;
        line-height: 15px;
        margin: 25px auto 0;
        max-width: 290px;
        min-height: 59px;
        text-align: center;
        width: 100%;
      }
      .note{
        bottom: 22px;
        color: #727272;
        font-family: 'GothamBook',sans-serif;
        font-size: 10px;
        line-height: 11px;
        max-width: 113px;
        position: absolute;
        right: 22px;
        width: 100%;
      }
    }
  }
}

.contact-inner-services{
  height: 404px;
  position: relative;
  z-index: 0;
  &:before{
    background: rgba(244,244,244,1);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .wrapper-btn-information-services{
    align-items: center;
    background: #E91E63;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.30);
    display: flex;
    justify-content: center;
    left: 22%;
    max-width: 272px;
    min-height: 57px;
    position: absolute;
    top: -28px;
    transform: translateX(-50%);
    width: 100%;
    .inner-btn-information-services{
      color: #fff;
      font-family: 'Gotham Medium',sans-serif;
      font-size: 18px;
      line-height: 20px;
      max-width: 242px;
      width: 100%;
      b{
        font-family: 'GothamBold',sans-serif;
      }
    }
  }
  .wrapper-logo-services{
    height: 164px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -86px;
    width: 906px;
    z-index: 0;
    .inner-logo-services{
      height: 100%;
      margin-left: 24px;
      opacity: .02;
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
  .wrapper-contact-services{
    margin: 0 auto;
    max-width: 968px;
    width: 100%;
    form{
      margin-top: 8px;
      position: relative;
      .form-row{
        display: block;
        .wrapper-content-form{
          opacity: 1;
          &.partial-hide{
            opacity: 0;
          }
        }
        .input-services{
          display: flex;
          flex-direction: row;
          width: 100%;
          .wrapper-name-services{
            max-width: 358px;
            width: 100%;
          }
          .wrapper-email-services{
            margin-left: auto;
            max-width: 572px;
            width: 100%;
          }
          .wrapper-name-services, .wrapper-email-services {
            input {
              background-image: linear-gradient(0deg, #E91E63 2px, rgba(233, 30, 99, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
              @include placeholder(#A2A2A2);
              &.invalid{
                background-image: linear-gradient(0deg, #E91E63 2px, rgba(233, 30, 99, 0) 0), linear-gradient(0deg, #E91E63 1px, hsla(0, 0%, 82%, 0) 0);
                @include placeholder(#E91E63);
              }
            }
            .input-clue {
              display: none;
            }
          }
        }
        .textarea-services {
          height: 109px;
          margin-top: 32px;
          width: 100%;
          .input-clue {
            display: none;
          }
          textarea {
            background-image: linear-gradient(0deg, #E91E63 2px, rgba(233, 30, 99, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
            @include placeholder(#A2A2A2);
            height: 100% !important;
            &.invalid{
              background-image: linear-gradient(0deg, #E91E63 2px, rgba(233, 30, 99, 0) 0), linear-gradient(0deg, #E91E63 1px, hsla(0, 0%, 82%, 0) 0);
              @include placeholder(#E91E63);
            }
          }
        }
        .btn-submit-services{
          color: #fff;
          display: block;
          font-family: 'GothamBold',sans-serif;
          font-size: 16px;
          line-height: 15px;
          margin-top: 44px;
          margin-left: auto;
          max-width: 160px;
          min-height: 45px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .cover-services {
    height: 250px;
    .wrapper-services-text {
      min-height: 55px;
      max-width: 90%;
      .inner-services-text {
        font-size: 11px;
        line-height: 15px;
        max-width: 90%;
        min-height: 40px;
        &:after {
          width: 100px;
        }
      }
    }
  }
  .message-services {
    .wrapper-content-message {
      margin: 25px auto 75px;
      max-width: 90%;
      font-size: 13px;
      line-height: 17px;
      &:after {
        width: 150px;
      }
    }
  }
  .content-services{
    padding-bottom: 70px;
    .subtitle{
      font-size: 16px;
      line-height: 15px;
    }
    .content-advantages{
      margin: 30px auto 0;
      max-width: 90%;
      &:after{
        display: none;
      }
      .advantage {
        min-height: 250px;
        width: 50%;
        &:nth-last-child(2) {
          &:before, &:after {
            display: none;
          }
        }
        &:nth-child(2){
          &:after{
            display: none;
          }
        }
        &:nth-child(even) {
          &:before {
            display: block;
          }
        }
        .inner-advantage {
          .image-advantage {
            margin: 15px auto 0;
            max-width: 40px;
          }
        }
        .advantage-title {
          font-size: 12px;
          line-height: 10px;
          margin-top: 20px;
        }
        .description-advantage {
          max-width: none;
          font-size: 10px;
          line-height: 12px;
          margin: 15px auto 0;
        }
        .note {
          max-width: none;
          text-align: center;
          right: 0;
        }
      }
    }
  }
  .contact-inner-services{
    height: 330px;
    padding: 38px 0 65px;
    .wrapper-btn-information-services{
      left: 50%;
      max-width: 200px;
      min-height: 50px;
      .inner-btn-information-services{
        font-size: 12px;
        margin: 0 auto;
        max-width: 90%;
        text-align: center;
      }
    }
    .wrapper-logo-services{
      display: none;
    }
    .wrapper-contact-services{
      max-width: none;
      form{
        .form-row{
          .input-services{
            flex-direction: column;
            margin: 0 auto;
            max-width: 90%;
            .wrapper-name-services, .wrapper-email-services{
              margin-bottom: 10px;
              max-width: none;
            }
          }
          .textarea-services {
            height: 85px;
            margin: 0 auto;
            max-width: 90%;
          }
          .btn-submit-services{
            font-size: 14px;
            line-height: 13px;
            margin: 40px auto 0;
            max-width: 120px;
            min-height: 35px
          }
        }
      }
    }
  }
}