.block.page.faq {
  min-height: calc(100vh - 160px);
  overflow: hidden;
  .holder {
    max-width: 880px;
    h2,h3,p {
      max-width: 720px;
      margin: 0 auto;
    }
    h2 {
      margin-bottom: 70px;
    }
    h3 {
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
    }

    hr {
      background: #E91E63;
      margin: 55px 0;
      border: 0;
      height: 1px;
      position: relative;
    }
  }
}

@media (max-width: 767px) {
  .block.page.faq {
    .holder {
      h2 {
        margin-bottom: 30px;
      }
      h3 {
        font-size: 12px;
        margin-bottom: 20px;
      }
      p {
        font-size: 12px;
      }
      hr {
        background: #E91E63;
        margin: 25px 0;
        border: 0;
        height: 1px;
        position: relative;
      }
    }
  }
}