@font-face {
  font-family: "GothamBold";
  src: url("assets/fonts/GothamBold.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/GothamBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("assets/fonts/GothamBold.otf") format("opentype"), /* Open Type Font */
  url("assets/fonts/GothamBold.svg") format("svg"), /* Legacy iOS */
  url("assets/fonts/GothamBold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("assets/fonts/GothamBold.woff") format("woff"), /* Modern Browsers */
  url("assets/fonts/GothamBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamMedium";
  src: url("assets/fonts/GothamMedium.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("assets/fonts/GothamMedium.otf") format("opentype"), /* Open Type Font */
  url("assets/fonts/GothamMedium.svg") format("svg"), /* Legacy iOS */
  url("assets/fonts/GothamMedium.ttf") format("truetype"), /* Safari, Android, iOS */
  url("assets/fonts/GothamMedium.woff") format("woff"), /* Modern Browsers */
  url("assets/fonts/GothamMedium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamBook";
  src: url("assets/fonts/GothamBook.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/GothamBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("assets/fonts/GothamBook.otf") format("opentype"), /* Open Type Font */
  url("assets/fonts/GothamBook.svg") format("svg"), /* Legacy iOS */
  url("assets/fonts/GothamBook.ttf") format("truetype"), /* Safari, Android, iOS */
  url("assets/fonts/GothamBook.woff") format("woff"), /* Modern Browsers */
  url("assets/fonts/GothamBook.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Black";
  src: url("assets/fonts/GothamRegular.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/GothamRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("assets/fonts/GothamRegular.otf") format("opentype"), /* Open Type Font */
  url("assets/fonts/GothamRegular.svg") format("svg"), /* Legacy iOS */
  url("assets/fonts/GothamRegular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("assets/fonts/GothamRegular.woff") format("woff"), /* Modern Browsers */
  url("assets/fonts/GothamRegular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('assets/fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/GothamBold.woff') format('woff'),
  url('assets/fonts/GothamBold.ttf') format('truetype'),
  url('assets/fonts/GothamBold.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('assets/fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/GothamMedium.woff') format('woff'),
  url('assets/fonts/GothamMedium.ttf') format('truetype'),
  url('assets/fonts/GothamMedium.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBook';
  src: url('assets/fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/GothamBook.otf') format('opentype'),
  url('assets/fonts/GothamBook.woff') format('woff'),
  url('assets/fonts/GothamBook.ttf') format('truetype'),
  url('assets/fonts/GothamBook.svg#GothamBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRegular';
  src: url('assets/fonts/GothamRegular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/GothamRegular.woff') format('woff'),
  url('assets/fonts/GothamRegular.ttf') format('truetype'),
  url('assets/fonts/GothamRegular.svg#GothamRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
