/*
    Document   : _footer.styl
    Created on : 05/02/2019, 11:42:15 AM
    Author     : cesarmejia
    Description:
*/

.footer {
  background-color: #212121 !important;
  color: #fff;
  font-size: 10px;

  a {
    color: #fff;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  // Links component.
  .links {
    margin-bottom: 10px;

    .logo {
      margin: 0 auto 8px;
      max-width: 70px;
    }

    ul {
      li {
        display: block;
        line-height: 15px;
        position: relative;
        &:last-child:after {
          content: normal;
        }
        &:after {
          border-bottom: 1px solid #727272;
          bottom: 0;
          content: "";
          display: block;
          left: 50%;
          position: absolute;
          transform: translate(-50%, 0);
          width: 82px;
        }

        a {
          border-radius: 0;
          font-size: 10px;
          font-weight: normal;
          padding: 5px 5px;
          text-transform: initial;
        }
      }
    }
  }

  // Rights component.
  .rights {
    font-size: 9px;
    line-height: 110%;
    text-align: start;
  }

  // Goplek component.
  .logo-goplek {
    display: block;
    margin-left: auto;
    max-width: 35px;
  }

}

@media screen and (min-width: 768px) {

  .footer {
    padding: 37px 0;
    text-align: start;

    a:hover {
      text-decoration: underline;
    }

    // Links component.
    .links {
      .logo {
        margin: 0 auto 15px;
      }

      ul {
        text-align: center;
        li {
          border-right: 1px solid #727272;
          display: inline-block;
          padding: 0 4px 0 1px;
          &:last-child {
            border-right: 0;
          }

          &:after {
            content: normal;
          }
          a {
            display: inline;
            padding: 0 0;
          }
        }
      }
    }

    // Rights component.
    .rights {
      font-size: 10px;
    }

    // Logo Goplek component.
    .logo-goplek {
      max-width: 47px;
    }

  }

}