.inner-nav{
  padding: 32px 0;
  .holder{
    max-width: 1200px;
  }
  .wrapper-inner-nav{
    align-items: center;
    display: flex;
    flex-direction: row;
    .btns-category{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 182px;
      width: 80%;
      .category-product{
        background: #fff;
        border: 1px solid #00ADEE;
        border-radius: 25px;
        color: #00ADEE;
        cursor: pointer;
        font-family: 'GothamBook',sans-serif;
        font-size: 16px;
        line-height: 18px;
        margin: 0 26px;
        max-width: 150px;
        min-height: 41px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        span{
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        &.select-product{
          background: #00ADEE;
          color: #fff;
          font-family: 'Gotham Medium',sans-serif;
          font-size: 16px;
          line-height: 15px;
        }
      }
    }
    .view-nav-inner{
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 15px;
      width: 20%;
      .text{
        font-family: 'GothamBook',sans-serif;
        font-size: 10px;
        line-height: 11px;
        max-width: 21px;
        width: 100%;
      }
      .view-nav-grid,.view-nav-list{
        background-size: cover;
        cursor: pointer;
        height: 20px;
        transition: all 355ms ease-in-out;
      }
      .view-nav-grid{
        background: url(assets/images/grid-gray.svg) center no-repeat;
        margin-left: 8px;
        width: 20px;
        &.active{
          background:  url(assets/images/grid-pink.svg) center no-repeat;
        }
      }
      .view-nav-list{
        background: url(assets/images/list-gray.svg) center no-repeat;
        margin-left: 11px;
        width: 24px;
        &.active{
          background: url(assets/images/list-pink.svg) center no-repeat;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .inner-nav {
    padding: 20px 0;
    .wrapper-inner-nav {
      flex-direction: column-reverse;
      .btns-category {
        padding: 0;
        margin-top: 20px;
        width: 100%;
        .category-product {
          font-size: 13px;
          line-height: 12px;
          margin: 0 auto !important;
          max-width: 120px;
          &.select-product {
            font-size: 14px;
            line-height: 12px;
          }
        }
      }
      .view-nav-inner{
        justify-content: flex-start;
        padding: 0 0 0 17px;
        width: 100%;
      }
    }
  }
}