.block.cover.page{
  .slider-content {
    background: url(assets/images/rent.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
    .slide {
      opacity: 1;
    }
    .container {
      color: #4A4A4A;
      font-family: 'GothamBook', sans-serif;
      font-size: 20px;
      left: 50%;
      line-height: 140%;
      max-width: 465px;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 10px 10px;
      position: absolute;
      &:after {
        content:'';
        background-color: rgba(255,255,255,0.8);
        left: 0;
        top:0;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
      }
      &:before {
        content: '';
        background: url(assets/images/color_line.svg) no-repeat center center;
        background-size: cover;
        bottom: 0;
        height: 3px;
        left: -30px;
        position: absolute;
        max-width: 165px;
        width: 100%;
      }
    }
  }
}

