.block.advantage.page {
  .holder {
    max-width: 1100px;
  }
  .header {
    margin-bottom: 50px;
    h2 {
      font-family: 'GothamRegular', sans-serif;
      font-size: 18px;
      font-weight: normal;
      max-width: 680px;
      margin: 0 auto;
      &:after {
        background-size: cover;
        bottom: -10px;
        left: 50%;
        height: 4px;
        max-width: 500px;
        transform: translateX(-50%);
        width: 100%;
      }
    }
  }
  .content {
    font-family: 'GothamRegular', sans-serif;
    padding-bottom: 60px;
    .title {
      font-family: 'GothamMedium', sans-serif;
      font-size: 25px;
      font-weight: normal;
      text-align: center;
      &:after {
        display: none;
      }
    }
    .item-container {
      border-right:1px solid #686868;
      border-top:1px solid #686868;
    }
    .item-container:nth-child(-n+3) {
      border-top:none;
    }
    .item-container:nth-child(3n) {
      border-right:none;
    }
    .item {
      padding: 80px 15px;
      position: relative;
      text-align: center;
      .icon {
        max-width: 55px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
      .title {
        color: #000000;
        font-size: 16px;
        margin-bottom: 30px;
      }
      .info {
        color: #727272;
        font-family: 'GothamBook';
        font-size: 14px;
        padding: 0;
      }
      .small-mesage {
        font-size: 10px;
        position: absolute;
        bottom: 5px;
        right: 15px;
      }
    }
  }
}

