.block.contact.page {
  .img-logo {
    left: inherit;
    opacity: 0.03;
    right: 0;
    position: absolute;
    top: -100px;
    width: 100%;
    max-width: 900px;
    img {
      width: 100%;
    }
  }
  .tag {
    background-color: #E91E63;
    color:#ffffff;
    font-size: 18px;
    font-family: 'GothamMedium';
    max-width: 260px;
    top:-25px;
    padding: 10px;
    position: absolute;
  }
  background: #F4F4F4 none;
  .holder {
    max-width: 950px;
  }
  &:before {
    display: none;
  }
  .form-container {
    .input-container {
      display: flex;
      .form-group:nth-child(1) {
        max-width: 45%;
        padding-right: 25px;
        width: 100%;
      }
      .form-group:nth-last-child(1) {
        max-width: 65%;
        width: 100%;
      }
    }
    textarea {
      height: 120px !important;
    }
    .btn {
      font-family: 'GothamBold';
      font-size: 16px;
      width: 160px;
    }
  }
}

