@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color !important;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }
  &:-moz-placeholder {
    color: $color !important;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }
  &::-moz-placeholder {
    color: $color !important;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }
  &:-ms-input-placeholder {
    color: $color !important;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }
}