.changeContent {
  opacity: 0;
  transition: opacity 755ms ease-in-out;
}

.pl-modal-overlay {
  &.pl-modal-open {
    background: rgba(255, 255, 255, .9);
    z-index: 9999;
  }
}

.pl-modal {
  width: 100%;
  z-index: 99999;
}

.pl-modal.pl-effect-11.pl-modal-open .pl-modal-content {
  height: 80vh;
  overflow-y: scroll;
}

.pl-modal-close-button {
  display: none;
  &.inner-btn {
    display: block;
  }
}

.modal-product-information {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  .wrapper-modal-product {
    display: flex;
    flex-direction: row;
    padding: 80px 0 48px;
    position: relative;
    width: 100%;
    &:after, &:before {
      content: '';
      display: block;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
    &:before {
      background: #fff;
      border-radius: 4px;
      bottom: 0;
      box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
      left: 0;
      height: 100%;
    }
    &:after {
      background: #00ADEE;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      height: 48px;
      top: 0;
    }
    .wrapper-image-product {
      width: 50%;
      .product-image {
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        border-radius: 5px;
        display: flex;
        margin: 0 auto;
        max-width: 405px;
        min-height: 405px;
        width: 100%;
        .inner-product-image {
          margin: 0 auto;
          max-width: 389px;
          width: 100%;
          img {
            height: auto;
            width: 100%;
          }
        }
      }
      .inner-carousel-images {
        height: 110px;
        margin-top: 17px;
        .thumbs-container {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
        }
        .util-carrousel {
          height: 100%;
          .prev-button, .next-button {
            background: url(assets/images/thin-arrow.svg) no-repeat center;
            background-size: contain;
            height: 26px;
            margin: 0;
            top: 50%;
            width: 15px;
          }
          .prev-button {
            left: 11%;
            transform: translate(-50%, -50%) rotate(0deg);
          }
          .next-button {
            left: 89%;
            transform: translate(-50%, -50%) rotate(-180deg);
          }
          .carrousel-wrapper {
            height: 100%;
            width: 70%;
          }
          .thumb {
            .inner-thumb {
              align-items: center;
              border-radius: 4px;
              box-shadow: 0 0 4px rgba(0, 0, 0, .3);
              display: flex;
              margin: 0 auto;
              max-width: 105px;
              min-height: 105px;
              width: 100%;
              .content-img-carousel {
                img {
                  display: block !important;
                }
              }
            }
          }
        }
      }
    }
    .wrapper-information-product {
      position: relative;
      width: 50%;
      .inner-wrapper-information {
        max-width: 470px;
        padding-top: 30%;
        width: 100%;
        .title-product {
          color: #4A4A4A;
          font-family: 'Gotham Medium', sans-serif;
          font-size: 36px;
          line-height: 32px;
          margin-bottom: 8px;
          text-transform: uppercase;
        }
        .sku-product {
          color: #999999;
          font-family: 'GothamBook', sans-serif;
          font-size: 18px;
          line-height: 19px;
          margin-bottom: 33px;
          text-transform: uppercase;
        }
        .price-product {
          color: #E91E63;
          font-family: 'Gotham Medium', sans-serif;
          font-size: 24px;
          line-height: 22px;
          margin-bottom: 3px;
        }
        .vat-product {
          color: #999999;
          font-family: 'GothamBook', sans-serif;
          font-size: 15px;
          line-height: 16px;
          margin-bottom: 19px;
        }
        .description-product {
          color: #727272;
          font-family: 'GothamBook', sans-serif;
          font-size: 16px;
          line-height: 18px;
          min-height: 228px;
        }
        .addCart {
          background: #E91E63;
          border-radius: 22px;
          color: #fff;
          display: block;
          margin-left: auto;
          max-width: 176px;
          height: 41px;
          padding: 0;
          text-decoration: none;
          width: 100%;
          .inneraddCart {
            align-items: center;
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: center;
            width: 100%;
            .text-cart {
              font-family: 'GothamBold', sans-serif;
              font-size: 16px;
              line-height: 15px;
              text-transform: uppercase;
            }
            .img-cart {
              margin-left: 7px;
              max-width: 20px;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .wrapper-suggestions-modal {
    margin-top: 44px;
    width: 100%;
    .title-suggestion-modal {
      color: #4A4A4A;
      font-family: 'Gotham Medium', sans-serif;
      font-size: 18px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
    .content-suggestions-modal {
      display: flex;
      justify-content: center;
      margin-top: 24px;
      width: 100%;
      .carrousel-suggestions {
        width: 100%;
        .inner-suggestions {
          .util-carrousel {
            img {
              display: block;
            }
            .prev-button, .next-button {
              display: none;
            }
            .carrousel-wrapper {
              .thumbs-container {
                margin: 10px auto;
              }
              .product-products-modal {
                box-shadow: 0 0 8px rgba(0, 0, 0, .3);
                display: block;
                margin: 0 22px;
                max-width: 200px;
                height: 340px;
                position: relative;
                width: 100%;
                z-index: 0;
                &:after, &:before {
                  content: '';
                  display: block;
                  left: 0;
                  position: absolute;
                  width: 100%;
                  z-index: -1;
                }
                &:after {
                  background: #EB008B;
                  border-top-left-radius: 3px;
                  border-top-right-radius: 3px;
                  height: 15px;
                  top: 0;
                }
                &:before {
                  background: #fff;
                  bottom: 0;
                  height: calc(100% - 15px);
                }
                .mdl-product {
                  background: transparent;
                  height: 100%;
                  margin: 0 auto;
                  .mdl-header-image {
                    align-items: center;
                    background: #fff;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
                    display: flex;
                    max-width: 182px;
                    margin: -2px auto 0;
                    min-height: 180px;
                    padding: 0;
                    width: 100%;
                    .mdl-image-product {
                      margin: 0 auto;
                      max-width: 134px;
                      width: 100%;
                      img {
                        display: block;
                        width: 100%;
                      }
                    }
                  }
                  .mdl-body-text {
                    margin: 0 auto;
                    max-width: 91%;
                    padding: 0;
                    width: 100%;
                    .mdl-list-description {
                      .mdl-body-title {
                        color: #4A4A4A;
                        font-family: 'Gotham Medium', sans-serif;
                        font-size: 13px;
                        line-height: 11px;
                        margin: 17px 0 5px 0;
                      }
                      .mdl-body-sku {
                        color: #9B9B9B;
                        font-family: 'GothamBook', sans-serif;
                        font-size: 9px;
                        line-height: 9px;
                      }
                    }
                    .mdl-text-body {
                      color: #4A4A4A;
                      font-family: 'GothamBook', sans-serif;
                      font-size: 10px;
                      line-height: 11px;
                      margin: 15px auto 0;
                      min-height: 60px;
                    }
                    .mdl-wrapper-product {
                      align-items: center;
                      display: flex;
                      flex-direction: row;
                      margin-top: 6px;
                      .mdl-product-price {
                        color: #E91E63;
                        font-family: 'Gotham Medium', sans-serif;
                        font-size: 13px;
                        line-height: 11px;
                        margin: 0;
                      }
                      .mdl-inner-product {
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        margin-left: auto;
                        .mdl-product-available {
                          color: #4A4A4A;
                          font-family: 'Gotham Medium', sans-serif;
                          font-size: 11px;
                          line-height: 10px;
                          margin: 0;
                        }
                        .mdl-car-price {
                          margin-left: 5px;
                          max-width: 20px;
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .modal-product-information {
    max-width: 90%;
    .wrapper-modal-product {
      flex-direction: column;
      width: 100%;
      .wrapper-image-product {
        width: 100%;
        .product-image {
          max-width: 120px;
          min-height: 120px;
          .inner-product-image {
            max-width: 100px;
          }
        }
        .carousel-images-modal {
          .inner-carousel-images {
            .util-carrousel {
              .prev-button {
                left: 19%;
              }
              .next-button {
                left: 81%;
              }
            }
          }
        }
      }
      .wrapper-information-product {
        width: 100%;
        .inner-wrapper-information {
          margin: 0 auto;
          max-width: 270px;
          padding-top: 10%;
          .title-product {
            font-size: 26px;
            line-height: 28px;
            margin-bottom: 5px;
            text-align: center;
          }
          .sku-product {
            font-size: 15px;
            line-height: 15px;
            margin-bottom: 15px;
            text-align: center;
          }
          .price-product {
            font-size: 18px;
            line-height: 20px;
            text-align: center;
          }
          .vat-product {
            font-size: 13px;
            text-align: center;
          }
          .description-product {
            font-size: 12px;
            line-height: 16px;
          }
          .addCart {
            margin: 0 auto;
          }
        }
      }
    }
    .wrapper-suggestions-modal {
      .title-suggestion-modal {
        font-size: 12px;
      }
      .content-suggestions-modal {
        .carrousel-suggestions {
          .inner-suggestions {
            .util-carrousel {
              .prev-button, .next-button {
                background: url(assets/images/thin-arrow.svg) no-repeat center;
                background-size: contain;
                display: block;
                height: 25px;
                margin: 0;
                width: 15px;
              }
              .prev-button {
                transform: translateY(-50%);
              }
              .next-button {
                transform: translateY(-50%) rotate(180deg);
              }
              .carrousel-wrapper {
                .product-products-modal {
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
    }
  }
}