.list-login, .list-logout {
  bottom: 0;
  padding: 0;
  padding-bottom: 3px;
  padding-left: 15px;
  position: fixed;
  right: 0;
  width: 50%;
  .item-login, .item-logout {
    font-size: 13px;
    list-style: none;
    &:after {
      content: none !important;
    }
    a {
      margin: 0 !important;
      padding: 0 !important;
      text-transform: initial !important;
    }
  }
  .item-logout {
    text-align: left !important;
  }
}

.list-logout {
  padding-bottom: 16px;
}

.wpmenucartli {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 50%;
  .wpmenucart-contents {
    margin: 0 !important;
    position: relative;
    text-align: right;
    &:after {
      background: #E91E63;
      content: '';
      display: block;
      height: 35px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 1px;
    }
    i {
      color: #E91E63;
    }
  }
}

.navbar {
  margin: 0;
  padding: 0;
  .navbar-brand {
    left: 50%;
    margin: 0;
    transform: translate(-50%);
  }
  .navbar-toggler {
    .navbar-toggler-icon {
      background-color: #E91E63;
    }
  }
  form {
    background-image: url(assets/images/find-01.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #E91E63;
    border: 1px solid #E91E63;
    left: 50%;
    margin: 0 auto;
    max-width: 200px;
    padding-right: 20px;
    position: fixed;
    top: 20px;
    transform: translate(-50%);
    .screen-reader-text {
      display: none;
    }
    #searchsubmit {
      display: none;
    }
    input[type=text] {
      border: none;
      width: 100%;
    }
  }
}

.nav-open {
  .navbar-translate {
    transform: inherit;
  }
  .navbar-collapse {
    background: transparent;
    top: 50px;
    transform: translateZ(0);
    width: 100%;
  }
}

.navbar-collapse {
  height: calc(100vh - 50px);
  transform: translate3d(0, -100%, 0);
  width: 100%;
  &:after {
    opacity: 0.96;
  }
  .navbar-nav {
    &:last-child {
      .nav-item:nth-child(6) {
        &:after {
          content: none;
        }
      }
    }
  }
  .menu-main-menu-container {
    .main-menu {
      top: 75px;
      .menu-item {
        text-align: center;
        &:after {
          background-color: #e91e63;
          content: '';
          left: 50%;
          margin: 0;
          position: absolute;
          transform: translate(-50%);
          width: 145px;
        }
        .sub-menu {
          display: none;
        }
        a {
          color: #4A4A4A;
          font-family: 'GothamBook', sans-serif;
          font-size: 17px;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      .menu-item:nth-child(5) {
        &:after {
          content: none;
        }
      }
    }
  }
}

@media (max-width: 1020px) {
  .navbar form {
    max-width: 140px;
  }
}

@media screen and (min-width: 991px) {
  .list-login, .list-logout {
    width: initial;
    .active {
      &:after {
        background: #E91E63;
        border-radius: 2px;
        content: '' !important;
        display: block;
        height: 100%;
        left: -2px;
        opacity: 1 !important;
        position: absolute;
        top: 0;
        width: 77px;
        z-index: -1;
      }
      a {
        color: #ffffff !important;
      }
    }
    .item-login {
      position: relative;
      &:after {
        background: #E91E63;
        border-radius: 2px;
        content: '' !important;
        display: block;
        height: 100%;
        left: -2px;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 1s;
        width: 83px;
        z-index: -1;
      }
      &:hover:after {
        opacity: 1;
      }
      &:hover {
        a {
          color: #fff !important;
        }
      }
    }
    .item-logout {
      .nav-link {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        padding: 20px;
        text-align: center;
        width: 77px;
      }
    }
  }
  .list-logout li {
    bottom: 50%;
    padding: 0;
    transform: translate(0, 50%);
    a {
      height: 20px !important;
    }
    &:hover {
      border: 1px solid #E91E63;
      border-radius: 2px;
      box-shadow: 0 4px 18px 0 rgba(0, 0, 0, .12), 0 7px 10px -5px rgba(0, 0, 0, .15);
      a {
        color: #E91E63 !important;
      }
    }
  }

  .wpmenucartli {
    left: inherit;
    right: 90px;
    width: fit-content;
    &:after {
      background: #fff;
      border-radius: 2px;
      content: '';
      height: 40px;
      left: 7px;
      opacity: 0;
      position: absolute;
      top: 4px;
      transition: opacity 1s;
      width: 79px;
      z-index: -1;
    }
    &:hover:after {
      background: #E91E63;
      opacity: 1;
    }
    &:hover {
      a {
        i, span {
          color: #fff;
        }
      }
    }
  }

  .container {
    max-width: 1250px;
  }
  .navbar {
    height: 70px;
    form {
      position: relative;
      top: 0;
    }
  }
  .navbar-collapse {
    height: initial;
    transform: translate3d(0, 0, 0);
    .navbar-nav {
      &:last-child {
        .nav-item:nth-child(6) {
          position: fixed;
          right: 190px;
        }
      }
    }
    .menu-main-menu-container {
      margin-left: 30px;
      .main-menu {
        .menu-item {
          background: transparent;
          position: relative;
          z-index: 1;
          &:after {
            background: #E91E63;
            border-radius: 2px;
            content: '';
            display: block;
            height: 40px;
            opacity: 0;
            position: absolute;
            top: 4px;
            transition: opacity 1s;
            width: 85%;
            z-index: -1;
          }
          &:hover:after {
            opacity: 1;
          }
          &:hover {
            a {
              color: #fff;
            }
            .sub-menu {
              height: 300%;
              margin-top: 4px;
              opacity: 1;
              .menu-item {
                pointer-events: auto;
              }
            }
          }
          a {
            font-size: 11px;
          }
          .sub-menu {
            background: rgba(233, 30, 99, .6);
            display: block;
            height: 0;
            left: 15px;
            opacity: 0;
            padding: 0;
            position: relative;
            position: fixed;
            transition: opacity 1s, height 1s;
            .menu-item {
              list-style: none;
              pointer-events: none;
              position: relative;
              a {
                color: #fff;
              }
              &:after{
                background: #fff;
                content: '';
                height: 1px;
                position: absolute;
                width: 92px;
              }
              &:first-child:after{
                display: none;
              }
            }
            .menu-item:nth-child(1) {
              &:after {
                content: none;
              }
            }
            .menu-item:nth-child(2) {
              &:after {
                background: #fff;
                content: '';
                height: 1px;
                position: absolute;
                width: 92px;
              }
            }
          }
        }
        .menu-item:nth-child(5) {
          &:after {
            content: '';
          }
        }
      }
    }
  }
}