.block.page {
  color:#686868;
  .holder {
    max-width: 660px;
    h2 {
      color: #000000;
      font-size: 20px;
      position: relative;
      margin-bottom: 70px;
      &:after {
        content: '';
        background: url(assets/images/color_line.svg) no-repeat center center;
        background-size: contain;
        bottom: 0;
        height: 3px;
        left: -30px;
        position: absolute;
        max-width: 65px;
        width: 100%;
      }
    }
    h3 {
      color:#4A4A4A;
      font-family: 'GothamBold', sans-serif;
      font-size:14px;
    }
    p {
      font-size: 16px;
    }
    a {
      color:#000000;
      display: block;
      font-size: 10px;
      margin: 30px 0;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 767px) {
  .block.page {
    padding: 30px 0;
    .holder {
      h2 {
        font-size: 15px;
        margin-bottom: 20px;
        &:after {
          left: -15px;
        }
      }
      p {
        font-size: 12px;
      }
    }
  }
}

@import "faq";