.pl-modal-overlay.pl-modal-open {
  background-color: rgba(255,255,255,0.75);
}
.pl-modal-content {
  .title {
    color: #1D1D1D;
    font-family: 'GothamBold', sans-serif;
    font-size: 20px;
    position: relative;
    text-align: center;
    &:after {
      content: '';
      background: url(assets/images/color_line.svg) no-repeat center center;
      background-size: contain;
      bottom: 5px;
      height: 3px;
      left: 50%;
      max-width: 70px;
      position: absolute;
      transform: translateX(-50%);
      width: 100%;
    }
  }
  .buttons-container {
    display: flex;
    justify-content: space-between;
    button {
      background-color: #E91E63;
      border: 2px solid #E91E63;
      border-radius: 25px;
      cursor: pointer;
      color: #ffffff;
      display: flex;
      font-family: 'GothamBold';
      font-size: 14px;
      margin: 0 auto;
      text-transform: uppercase;
      padding: 1.110em 2.6em;
      transition: background-color 355ms linear, color 355ms linear;
    }
  }
  .options {
    color: #000000;
    position: relative;
    font-family: 'GothamMedium';
    font-size: 18px;
    text-align: center;
    &.success {
      pointer-events: none;
      .server-response {
        opacity: 1;
        .success {
          display: block;
        }
      }
    }
    &.sending {
      pointer-events: none;
      .server-response {
        opacity: 1;
        .sending {
          display: block;
        }
      }
    }
    &.error {
      pointer-events: none;
      .server-response {
        opacity: 1;
        .error {
          display: block;
        }
      }
    }
    .server-response {
      div {
        display: none;
        position: relative;
        top:50%;
        transform: translateY(-50%);
      }
      background-color: #ffffff;
      opacity: 0;
      left: 0;
      height: 100%;
      top:0;
      position: absolute;
      pointer-events: none;
      width: 100%;
    }
  }
}