.preview-product-detail {
  margin-top: 38px;
  min-height: calc(100vh - 167px);
}

.wrapper-product-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

.wrapper-preliminary-image-product {
  display: block;
  margin: 0 auto;
  max-width: 405px;
  width: 100%;
  img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .preview-product-detail {
    margin-top: 4px;
  }
  .wrapper-preliminary-image-product {
    max-width: 250px;
  }
}