.product-products-component {
  display: block;
  height: 340px;
  margin: 0 5px 21px 10px;;
  max-width: 200px;
  opacity: 1;
  position: relative;
  transition: opacity 355ms ease-in-out;
  width: 100%;
  z-index: 0;
  &:after, &:before {
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  &:after {
    background: #EB008B;
    border-radius: 5px 5px 0 0;
    height: 15px;
    top: 0;
  }
  &:before {
    background: #fff;
    bottom: 0;
    height: calc(100% - 15px);
  }
  .card {
    background: transparent;
    height: 100%;
    margin: 0;
    z-index: 0;
  }
  .card-header-image {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    //margin: 9px auto 0 !important;
    margin: -2px auto 0 !important;
    max-width: 182px;
    min-height: 180px;
    width: 100%;
    z-index: 1;
    .image-product-products {
      left: 50%;
      max-width: 150px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      img {
        box-shadow: none;
        height: auto;
      }
    }
  }
  .card-body-text {
    margin: 0 auto;
    max-width: 186px;
    padding: 0;
    width: 100%;
    .card-body-title {
      color: #4A4A4A;
      font-family: 'Gotham Medium', sans-serif;
      font-size: 13px;
      line-height: 11px;
      margin: 18px auto 0;
      width: 100%;
    }
    .card-body-sku {
      color: #9B9B9B;
      font-family: 'GothamBook', sans-serif;
      font-size: 9px;
      line-height: 9px;
      margin: 3px auto 0;
      min-height: 13px;
      text-transform: uppercase;
    }
    .short-description {
      p {
        color: #4A4A4A;
        display: block;
        font-family: 'GothamBook', sans-serif;
        font-size: 10px;
        line-height: 11px;
        margin: 14px auto 0;
        min-height: 60px;
      }
    }
    .wrapper-about-product {
      display: flex;
      flex-direction: row;
      p {
        margin: 0;
      }
      .about-product-price {
        color: #E91E63;
        font-family: 'Gotham Medium', sans-serif;
        font-size: 12px;
        line-height: 11px;
        width: 40%;
      }
      .inner-about-product {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 60%;
        .about-product-available {
          color: #4A4A4A;
          font-family: 'Gotham Medium', sans-serif;
          font-size: 11px;
          line-height: 10px;
          margin-right: 6px;
        }
        .wrapper-car-price {
          display: block;
          max-width: 21px;
          width: 100%;
        }
      }
    }
  }
  &.separateByCat {
    display: none;
    opacity: 0;
  }
}

.gplk-error {
  border-top-color: #E91E63 !important;
  &:before {
    color: #E91E63 !important;
  }
}