.search-product-section {
  position: relative;
  &:before {
    background: #00ADEE;
    content: '';
    display: block;
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .detail-product-search {
    h1 {
      align-items: center;
      display: flex;
      font-family: 'Gotham Medium', sans-serif;
      font-size: 36px;
      height: 100vh;
      justify-content: center;
      line-height: 32px;
    }
    .product-detail-header {
      height: 40vh;
      justify-content: center;
      h1.product-detail-title, .product-detail-description {
        display: block;
        font-family: 'Gotham Medium', sans-serif;
        font-size: 36px;
        height: auto;
        line-height: 32px;
      }
      .product-detail-description {
        margin-left: 40px;
      }
    }
    article {
      box-shadow: 0 2px 5px rgba(0, 0, 0, .30);
      margin-bottom: 12px;
      padding: 0 0 10px;
      .product-detail {
        .detail-product-entry {
          margin: 0 !important;
          a {
            color: #4A4A4A;
            display: block;
            font-family: 'Gotham Medium', sans-serif;
            font-size: 36px;
            line-height: 32px;
            margin-bottom: 15px;
            padding-top: 10px;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
      figure {
        a {
          display: block;
          margin: 0 auto;
          max-width: 300px;
          width: 100%;
          img {
            height: auto;
            width: 100%;
          }
        }
      }
      .entry-content {
        p {
          color: #727272;
          font-family: 'GothamBook', sans-serif;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .search-product-section {
    &:before {
      height: 30px;
    }
    .detail-product-search {
      h1 {
        font-size: 21px;
      }
      .product-detail-header {
        flex-direction: column;
        height: 40vh;
        h1.product-detail-title, .product-detail-description {
          font-size: 23px;
          text-align: center;
          width: 100%;
        }
        .product-detail-description {
          margin: 0;
        }
      }
      article {
        .product-detail {
          .detail-product-entry {
            a {
              font-size: 25px;
              line-height: 28px;
            }
          }
        }
        figure {
          a {
            max-width: 230px;
          }
        }
        .entry-content {
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}