/*
    Document   : _range-slider.scss
    Created on : 21/09/2017, 07:050:15 PM
    Author     : cesarmejia
    Description:
*/

.range-slider {
  border-radius: 7px;
  height: 21px;
  position: relative;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#154388+0,2f78bd+100 */
  background: rgb(21, 67, 136); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(21, 67, 136, 1) 0%, rgba(47, 120, 189, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(21, 67, 136, 1) 0%, rgba(47, 120, 189, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(21, 67, 136, 1) 0%, rgba(47, 120, 189, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#154388', endColorstr='#2f78bd', GradientType=1); /* IE6-9 */

  .handle {
    background: url(assets/images/range-slider-handle.svg) no-repeat center center;
    cursor: grab;
    height: 52px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 52px;

    &.grabbing {
      cursor: grabbing;
    }
  }
}