.login-page{
  .line-decoration{
    bottom: 130px;
  }
}
.line-decoration {
  @include line-decoration(114px, 3px);
  margin: 5px auto 0;
}
.line-decoration-static{
  bottom: 0;
  position: absolute;
  right: 20px;
  z-index: 1;
}

.woocommerce-form-register,
.woocommerce-form-login,
.woocommerce-form-lost-psswd{
  position: relative;
  z-index: 1;
  .btn-regular{
    position: relative;
    &:after{
      background: #ea2c6d;
      color: #fff;
    }
    &:hover:after{
      background: url(assets/images/arrow-white.svg) no-repeat center;
      top: 50%;
      transform: translateY(-50%);
    }
    &:after {
      background: url(assets/images/arrow-white.svg) no-repeat center;
      background-size: contain;
      content: '';
      display: block;
      height: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
      width: 5px;
    }
  }
  button.btn-meet{
    &:hover {
      background: #fff;
      border: 1px solid #E91E63;
      color: #ea2c6d;
    }
    &:hover:after{
      background: url(assets/images/pink-arrow.svg) center no-repeat;
      background-size: contain;
      transform: translateY(-50%) rotate(90deg);
    }
    &:after{
      right: 12px;
      top: 48%;
      width: 10px;
    }
  }
  .input-clue{
    display: none !important;
  }
  input{
    color: #000000;
    font-family: 'GothamMedium', sans-serif;
    font-size: 14px;
  }

  .form-check{
    text-align: center;
  }

  input.invalid{
    background-image: none !important;
    border-bottom: 1px solid #E91E63 !important;
  }
  /* Chrome/Opera/Safari */
  ::-webkit-input-placeholder {
    color: #727272;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }
  /* Firefox 19+ */
  ::-moz-placeholder {
    color: #727272;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }
  /* IE 10+ */
  :-ms-input-placeholder {
    color: #727272;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }
  /* Firefox 18- */
  :-moz-placeholder {
    color: #727272;
    font-family: 'GothamBook', sans-serif;
    font-size: 12px;
  }

  .form-check{
      .input-container{
        justify-content: center;
        label{
          margin-left: 5px;
        }
      }
  }

  .input-container.invalid{
    /* Chrome/Opera/Safari */
    ::-webkit-input-placeholder { color: #E91E63; }
    /* Firefox 19+ */
    ::-moz-placeholder { color: #E91E63; }
    /* IE 10+ */
    :-ms-input-placeholder { color: #E91E63; }
    /* Firefox 18- */
    :-moz-placeholder { color: #E91E63; }
    svg{
      #REGISTRO{
        fill: #e91e63;
      }
    }
    label{
      color: #e91e63;
    }
  }
}
.register-wrapper{
  background-position: center !important;
  background-size: cover !important;
  margin: 0;
  max-width: inherit !important;
  &:after{
    background: rgba(0,0,0,0.7);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.woocommerce-LostPassword{
  text-align: center;
  a{
    color: #fff;
    font-family: 'GothamMedium', sans-serif;
    font-size: 10px;
    position: relative;
    text-transform: uppercase;
    &:after{
      background: #e91e63;
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translate(-50%);
      width: 52px;
    }
  }
}

.card-title, .info-title{
  font-family: 'GothamMedium', sans-serif;
}

.card {
  padding: 10px 0;
}

.password-reset-success {
  color: #3c4858;
  font-size: 16px;
  font-weight: 700;
  left: 50%;
  line-height: 1.2;
  max-width: 380px;
  text-align: center;
  transform: translate(-50%,-50%);
  top:50%;
  position: absolute;
}

.signup-page,
.login-page {
  .woocommerce-error.gplk-error {
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 9;
  }
}


@media (max-width: 767px) {
  .login-page{
    .line-decoration{
      bottom: 155px;
    }
  }
}