.block.services {
  background: #F4F4F4;
  padding: 65px 0 239px;
  position: relative;
  .container-fluid {
    padding: 0;
  }
  .wrapper-services {
    .inner-wrapper-services {
      .card.services {
        background: transparent !important;
        box-shadow: none;
        height: 212px;
        margin: 0;
        position: relative;
        .wrapper-card-header {
          left: 0;
          position: absolute;
          top: -26px;
          width: 100%;
          z-index: 1;
        }
        .card-header {
          background: #00ADEE;
          border-radius: 0;
          box-shadow: 0 0 10px rgba(0, 0, 0, .5);
          margin: 0 auto;
          max-width: 134px;
          min-height: 36px;
          padding: 0;
          position: relative;
          width: 100%;
          .card-title {
            color: #fff;
            font-family: 'GothamBold', sans-serif;
            font-size: 20px;
            left: 50%;
            line-height: 18px;
            margin-top: 0;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
          &:after {
            background: url(assets/images/colors.svg) no-repeat center;
            background-size: cover;
            bottom: 1px;
            content: '';
            display: block;
            height: 3px;
            left: -17px;
            position: absolute;
            width: 47px;
          }
        }
        .card-img-top {
          height: 100%;
        }
        .card-img-overlay {
          background: rgba(0, 0, 0, .55);
          color: #fff;
          padding: 0;
          z-index: 0;
          p {
            &.title-service {
              display: block;
              font-family: 'GothamBold', sans-serif;
              font-size: 20px;
              line-height: 18px;
              margin-top: 63px;
              position: relative;
              text-align: center;
              width: 100%;
              &:after {
                background: url(assets/images/colors.svg) no-repeat center;
                background-size: cover;
                bottom: -3px;
                content: '';
                height: 3px;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                width: 76px;
              }
            }
            &.phrase {
              font-family: 'GothamBook', sans-serif;
              font-size: 15px;
              line-height: 16px;
              margin: 14px auto 0;
              max-width: 264px;
              min-height: 48px;
              text-align: center;
              width: 100%;
            }
          }
        }
        .wrapper-btn-meet {
          bottom: -19px;
          left: 50%;
          max-width: 138px;
          position: absolute;
          transform: translateX(-50%);
          width: 100%;
          z-index: 1;
        }
        a.btn-meet {
          box-shadow: 0 0 4px rgba(0, 0, 0, .3);
          display: block;
          font-family: 'GothamBold', sans-serif;
          font-size: 14px;
          line-height: 12px;
          margin: 0;
          min-height: 39px;
          position: relative;
          transition: background-color 375ms ease-in-out, color 375ms ease-in-out;
          width: 100%;
          &:after {
            background: #ea2c6d;
            color: #fff;
          }
          &:hover:after {
            background: url(assets/images/arrow-white.svg) no-repeat center;
            top: 50%;
            transform: translateY(-50%);
          }
          &:after {
            background: url(assets/images/arrow-white.svg) no-repeat center;
            background-size: contain;
            content: '';
            display: block;
            height: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 8px;
            width: 5px;
          }
          span {
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
          }
        }
      }
    }
  }
  .wrapper-promotions {
    background: url(assets/images/services.jpg) no-repeat center;
    background-size: cover;
    height: 350px;
    position: relative;
    .title-promotions {
      background: #00ADEE;
      border-radius: 24px 0 24px 0;
      margin: 0 auto;
      max-width: 256px;
      min-height: 39px;
      position: relative;
      top: 30%;
      transform: translateY(-50%);
      width: 100%;
      .title-text-promotions {
        color: #fff;
        font-family: 'Gotham Medium', sans-serif;
        font-size: 20px;
        left: 0;
        line-height: 18px;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
      &:after {
        background: url(assets/images/colors.svg) no-repeat center;
        background-size: cover;
        bottom: -3px;
        content: '';
        display: block;
        height: 3px;
        left: -11px;
        position: absolute;
        width: 66px;
      }
    }
    .inner-promotions-carousel {
      position: relative;
      top: 96.5%;
      transform: translateY(-50%);
      .inner-carrousel {
        .util-carrousel {
          .prev-button, .next-button {
            background: url(assets/images/arrow-carousel.svg) no-repeat center;
            background-size: cover;
            height: 30px;
            margin: 0;
            top: 54%;
            transform: translateY(-50%);
            width: 30px;
            z-index: 2;
          }
          .prev-button {
            margin-left: 5px;
          }
          .next-button {
            transform: translateY(-50%) rotate(180deg);
          }
          img {
            display: block;
          }
          .carrousel-wrapper {
            .thumb {
              .inner-thumb {
                display: block;
                margin: 0 auto 5px;
                max-width: 200px;
                position: relative;
                width: 100%;
                &:after, &:before {
                  content: '';
                  display: block;
                  left: 0;
                  position: absolute;
                  width: 100%;
                }
                &:before {
                  background: #E91E63;
                  border-top-left-radius: 3px;
                  border-top-right-radius: 3px;
                  height: 15px;
                  top: 0;
                }
                &:after {
                  background: #fff;
                  bottom: 0;
                  height: calc(100% - 15px);
                  z-index: -1;
                }
                .card {
                  background: transparent;
                  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
                  min-height: 340px;
                  margin: 0;
                  .card-header-image {
                    background: #fff;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
                    height: 180px;
                    //margin: 8px auto 0;
                    margin: -2px auto 0;
                    max-width: 182px;
                    width: 100%;
                    .wrapper-img-carousel {
                      left: 50%;
                      max-width: 137px;
                      position: absolute;
                      top: 50%;
                      transform: translate(-50%, -50%);
                      width: 100%;
                      img {
                        box-shadow: none;
                        height: auto !important;
                      }
                    }
                  }
                  .card-body-text {
                    margin: 0 auto;
                    max-width: 186px;
                    padding: 0;
                    width: 100%;
                    .card-body-title {
                      font-family: 'Gotham Medium', sans-serif;
                      font-size: 13px;
                      line-height: 11px;
                      min-height: 11px;
                    }
                    .card-body-sku {
                      color: #9B9B9B;
                      font-family: 'GothamBook', sans-serif;
                      font-size: 9px;
                      line-height: 9px;
                      text-transform: uppercase;
                    }
                    .short-description {
                      p {
                        font-family: 'GothamBook', sans-serif;
                        font-size: 10px;
                        line-height: 11px;
                        min-height: 60px;
                      }
                    }
                    .wrapper-about-product {
                      align-items: center;
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      .about-product-price, .inner-about-product {
                        width: 50%;
                      }
                      .about-product-price {
                        color: #E91E63;
                        font-family: 'Gotham Medium', sans-serif;
                        font-size: 13px;
                        line-height: 11px;
                        margin: 0;
                      }
                      .inner-about-product {
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        .about-product-available {
                          font-family: 'Gotham Medium', sans-serif;
                          font-size: 11px;
                          line-height: 10px;
                          margin: 0;
                          width: 70%
                        }
                        .wrapper-car-price {
                          margin-left: 5px;
                          max-width: 21px;
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .see-more-products {
        box-shadow: 0 0 4px rgba(0, 0, 0, .3);
        display: block;
        font-family: 'GothamBold', sans-serif;
        font-size: 14px;
        line-height: 12px;
        margin: 38px auto 0;
        max-width: 138px;
        min-height: 39px;
        position: relative;
        width: 100%;
        span {
          display: block;
          left: 0;
          top: 51%;
          position: absolute;
          transform: translateY(-50%);
          text-align: center;
          width: 100%;
        }
        &:after {
          background: url(assets/images/arrow-white.svg) no-repeat center;
          background-size: cover;
          content: '';
          display: block;
          height: 10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 25px;
          width: 5px;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .block.services {
    height: 916px;
    padding: 0;
    .holder {
      height: 100%;
      max-width: none;
    }
    .container-fluid {
      height: 100%;
    }
    .wrapper-services {
      height: 320px;
      max-width: 601px;
      left: 50%;
      position: absolute;
      top: -53px;
      transform: translateX(-50%);
      width: 100%;
      z-index: 1;
      .inner-wrapper-services {
        height: 100%;
        .card.services {
          height: 100%;
          .wrapper-card-header {
            left: -42px;
            max-width: 178px;
            top: -15px;
          }
          .card-header {
            max-width: none;
            min-height: 46px;
            width: 100%;
            &:after {
              bottom: 6px;
              height: 4px;
              left: -42px;
              width: 112px;
            }
          }
          .card-img-overlay {
            margin-left: auto;
            max-width: 350px;
            width: 100%;
            .wrapper-card-img-overlay {
              display: block;
              margin: 0 auto;
              max-width: 298px;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;
              p {
                &.title-service, &.phrase {
                  text-align: left;
                }
                &.title-service {
                  margin: 0;
                  &:after {
                    bottom: -9px;
                    left: 0;
                    transform: none;
                    width: 112px;
                  }
                }
                &.phrase {
                  font-size: 17px;
                  line-height: 18px;
                  margin: 25px auto 0;
                  max-width: none;
                }
              }
            }
          }
          .wrapper-btn-meet {
            bottom: -14px;
            left: 71%;
            max-width: 160px;
            min-height: 45px;
          }
          a.btn-meet {
            &:hover {
              background: #fff;
              border: 1px solid #E91E63;
              color: #ea2c6d;
            }
            &:hover:after {
              background: url(assets/images/pink-arrow.svg) center no-repeat;
              background-size: contain;
              transform: translateY(-50%) rotate(90deg);
            }
            &:after {
              right: 12px;
              top: 48%;
              width: 10px;
            }
          }
        }
      }
    }
    .wrapper-promotions {
      height: 747px;
      .title-promotions {
        max-width: 336px;
        min-height: 47px;
        top: 54.5%;
        .title-text-promotions {
          font-size: 25px;
          line-height: 22px;
        }
        &:after {
          bottom: -2px;
          left: -30px;
          width: 112px;
        }
      }
      .inner-promotions-carousel {
        opacity: 1;
        top: 86%;
        transition: opacity 355ms ease-in-out;
        .inner-carrousel {
          .util-carrousel {
            .prev-button, .next-button {
              display: none;
            }
            .carrousel-wrapper {
              .thumbs-container {
                display: flex;
                justify-content: center;
              }
              .thumb {
                margin-left: 31px;
                max-width: 200px;
                width: 100%;
                .inner-thumb {
                  .card {
                    .card-body-text {
                      max-width: 182px;
                    }
                  }
                }
                &:first-child {
                  margin-left: 0;
                }
              }

            }
          }
        }
        .see-more-products {
          margin: 41px auto 0;
          max-width: 160px;
          min-height: 45px;
        }
        &.hide-moment {
          opacity: 0;
        }
      }
    }
  }
}
