/* Slider */
.slider {
  // background: #fff url(../imgs/loader.gif) center center no-repeat;
  min-height: 200px;
  overflow: hidden;
  position: relative;
  transition: min-height 380ms, height 380ms;

  -webkit-transition: min-height 380ms, height 380ms;
  -moz-transition: min-height 380ms, height 380ms;
  -ms-transition: min-height 380ms, height 380ms;
  -o-transition: min-height 380ms, height 380ms;
}

//.slider img{ display: none; }

.slider .slides {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

.slider .slide {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.slider .slide .background {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.slider .slide img {
  display: block;
}

.slider .slides .alt {
  background: rgba(255, 255, 255, 0.50);
  box-sizing: border-box;
  bottom: 0;
  color: #fff;
  font-size: 18px;
  left: 0;
  padding: 1.7em;
  position: absolute;
  width: 100%;
  z-index: 3;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.slider .slides .alt {
  font-size: 32px;
  font-weight: 600;
  padding: .4em 1em;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .65);
}

.slider .slides .alt .strong {
  font-size: 51px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .slider .slides .alt {
    font-size: 25.7px;
  }

  .slider .slides .alt .strong {
    font-size: 41px;
  }
}

@media (max-width: 590px) {
  .slider .slides .alt {
    font-size: 20px;
  }

  .slider .slides .alt .strong {
    font-size: 32px;
  }
}

.slider .slides .controls {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}

.slider .slides .previous-slide,
.slider .slides .next-slide {
  background: url(../imgs/arrow.png) no-repeat;
  /*height: 42px;*/
  height: 97px;
  opacity: 1;
  position: absolute;
  transition: 180ms opacity;
  /*width: 29px;*/
  width: 68px;
  z-index: 5;

  -webkit-transition: 130ms opacity;
  -moz-transition: 130ms opacity;
  -ms-transition: 130ms opacity;
  -o-transition: 130ms opacity;
}

.slider .slides .previous-slide.hide,
.slider .slides .next-slide.hide {
  opacity: 0;
}

.slider .slides .previous-slide {
  background-position: 0 0;
  left: 0;
}

.slider .slides .next-slide {
  background-position: -68px 0;
  right: 0;
}

.slider .slides img {
  left: 0;
  position: absolute;
  top: 0;
}

.slider .loading-bar {
  background-color: #9e8a65;
  bottom: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: auto;
  width: 7px;
}

.slider .thumbs {
  height: 66px;
  margin: 20px 0;
  overflow: hidden;
  width: 100%;
}

.slider .thumbs .inner {
  height: 66px;
  margin: 0 auto;
}

.slider .thumbs .inner .thumb {
  cursor: pointer;
  float: left;
  height: 66px;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.slider .thumbs .inner .thumb img {
  opacity: .65;
}

.slider .thumbs .inner .thumb.selected img {
  opacity: 1 !important;
}

.slider .dots {
  margin: 20px 0;
  padding: 0 75px;
  text-align: center;
}

.slider .dots:before,
.slider .dots:after {
  content: "";
  display: table;
}

.slider .dots:after {
  clear: both;
}

.slider .dots .dot {
  cursor: pointer;
  font-family: Georgia, sans-serif;
  font-size: 30px;
  margin: 0 5px;
  opacity: .5;
}

.slider .dots .dot:after {
  content: "·"
}

.slider .dots .dot.active {
  opacity: 1;
}