.status-message {
  background: transparent;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;

  .sending, .success {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .error, .sending .message, .success .message-success {
    color: #000;
    font-family: 'Gotham Medium', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
  }

  .error {
    left: 50%;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .sending {
    margin-top: -24px;
    .load-image {
      max-width: 22px;
      width: 100%;
    }
    .message {
      padding-top: 8px;
      text-align: center;
      width: 100%;
    }
  }

  .success {
    margin-top: -18px;
    .load-image-success {
      max-width: 39px;
      width: 100%;
    }
    .message-success {
      padding-top: 8px;
      text-align: center;
    }
  }

}