.block.us {
  padding: 60px 0 110px;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    background-color: #F4F4F4;
    bottom: 0;
    height: 22%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .img-logo {
    opacity: 0.03;
    left: 0px;
    right: inherit;
    position: absolute;
    top: 20px;
    width: 150%;
    max-width: 900px;
    img {
      display: block;
      width: 100%;
    }
  }
  .header {
    font-size: 13px;
    margin-bottom: 20px;
    font-family: 'GothamRegular', sans-serif;
    .main-title {
      justify-content: center;
      display: flex;
      h2 {
        position: relative;
        &:after {
          content: '';
          background: url(assets/images/color_line.svg) no-repeat center center;
          background-size: cover;
          bottom: 5px;
          height: 3px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
    .title {
      color: #000000;
    }
    .info {
      max-width: 95%;
      padding: 0;
      text-align: center;
      p {
        color: #4A4A4A !important;
      }
    }
  }
  .content {
    color: #4A4A4A;
    .item {
      a {
        display: block;
        max-width: 95%;
        margin: 0 auto;
        text-align: center;
        position: relative;
      }
      .card {
        margin-top: 0;
        margin-bottom: 50px;
        padding: 15px;
        position: relative;
        &:after {
          content: '';
          border-top: 1px solid transparent;
          border-radius: 2px;
          display: block;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
        .desc {
          font-size: 10px;
          font-family: 'GothamBook', sans-serif;
          line-height: 120%;
          margin-bottom: 20px;
          .desc-description {
            p {
              color: inherit !important;
              font-size: 12px !important;
              font-family: 'GothamBook', sans-serif !important;
            }
          }
        }
        .head {
          font-family: 'GothamMedium', sans-serif;
          font-size: 11px;
          margin: 10px 0;
        }
      }
      button {
        background-color: #E91E63;
        border: none;
        border-radius: 15px;
        font-size: 8px;
        font-family: GothamBold;
        color: #fff;
        margin: 0 auto -26px;
        max-width: 85px;
        line-height: 240%;
        text-transform: uppercase;
        width: 100%;
      }
    }
    .item:nth-child(1) {
      .card:after {
        border-top: 8px solid #00ADEE;
      }
    }
    .item:nth-child(2) {
      .card:after {
        border-top: 8px solid #EB008B;
      }
    }
    .item:nth-child(3) {
      .card {
        margin-bottom: 0;
      }
      .card:after {
        border-top: 8px solid #FFF100;
      }
    }
  }
}

@media (min-width: 576px) {
  .block.us {
    .content {
      .item {
        .card {
          .head {
            font-size: 14px;
          }
          .desc {
            font-size: 12px;
          }
        }
        .button {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .block.us {
    padding: 120px 0 220px;
    &:after {
      height: 50%;
    }
    .img-logo {
      left: inherit;
      opacity: 0.03;
      right: 0px;
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 900px;
      img {
        display: block;
        width: 100%;
      }
    }
    .header {
      font-size: 17px;
      font-family: 'GothamRegular', sans-serif;
      margin-bottom: 70px;
      .title {
        font-size: 25px;
        margin-bottom: 40px;
      }
      .info {
        max-width: 560px;
        padding: 0;
        text-align: center;
      }
    }
    .content {
      .item {
        a {
          display: block;
          max-width: 95%;
          margin: 0 auto;
          text-align: center;
          position: relative;
        }
        .card {
          margin-top: 0;
          padding: 100px 15px 60px;
          .desc {
            font-size: 12px;
            max-width: 240px;
            margin: 20px auto 40px;
          }
          .head {
            font-size: 12px;
          }
        }
        button {
          line-height: 300%;
          margin-bottom: 0;
        }
      }
    }
  }
}
