.woocommerce {
  max-width: 1010px;
  .dashboard {
    h2 {
      font-family: 'GothamMedium', sans-serif;
    }
    .hidden {
      display: none;
    }
    font-size: 16px;
    position: relative;
    section {
      position: relative;
    }
    hr {
      border-top: 2px solid #ccc;
      margin: 60px 0 40px;
      height: 1px;
    }
    span {
      font-size: 10px;
      font-family: 'GothamRegular', sans-serif;
      padding-left: 25px;
      a {
        color: #4A4A4A;
        position: relative;
        &:after {
          content: '';
          background: url(assets/images/gear1.svg) no-repeat center center;
          background-size: contain;
          bottom: 0;
          height: 14px;
          left: -25px;
          max-width: 70px;
          position: absolute;
          width: 100%;
        }
        &:hover {
          &:after{
            background: url(assets/images/gear2.svg) no-repeat center center;
          }
        }
      }
    }
    .add {
      color: #4a4a4a;
      top:0;
      right: 0;
      position: absolute;
      &:after {
        content: '';
        background: url(assets/images/add1.svg) no-repeat center center;
        background-size: contain;
        bottom: -5px;
        height: 25px;
        left: -35px;
        max-width: 30px;
        position: absolute;
        width: 100%;
      }
      &:hover:after {
        background: url(assets/images/add2.svg) no-repeat center center;
        height: 28px;
      }
    }
    .info {
      padding: 5px 0;
    }
    .content {
      display: flex;
      margin: 0 auto;
      .general-data,
      .general-address {
        width: 50%;
      }
      &:nth-last-child(1) {
        margin-top: 40px;
      }
    }
    .data {
      .content {
        max-width: 500px;
      }
    }
    .addressess, .rfc {
      .container-address {
        height: 0px;
        overflow: hidden;
        transition: height 355ms linear;
      }
      .arrow {
        text-align: center;
        .img {
          cursor: pointer;
          display: inline-block;
          transform:rotate(0deg);
          transition:transform 355ms linear;
        }
      }
      .content {
        max-width: 800px;
        margin: 60px auto 60px 50px;
        .name {
          width: 22%;
        }
        .desc {
          position: relative;
          width: 70%;
          margin-left: 0;
        }
        span {
          top:0;
          right: -70px;
          position: absolute;
        }
      }
    }
    .addressess.active {
      .arrow {
        .img {
          transform:rotate(180deg);
        }
      }
    }
    .rfc {
      .content {
        .desc {
          text-align: center;
        }
      }
    }
    .products{
      .title {
        font-family: 'GothamBook', sans-serif;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
      }
      .desc {
        text-align: center;
      }
      .item {
        padding: 0 10px;
        &.product {
          width: 30%;
          .image-content {
            .desc {
              text-align: left;
              padding-left: 15px;
              width: 55%;
              .first {
                font-family: 'GothamBold', sans-serif;
              }
              .second {
                font-size: 12px;
              }
            }
            display: flex;
            .img {
              width: 45%;
            }
          }
        }
        &.price {
          width: 15%;
        }
        &.total {
          width: 10%;
        }
        &.address {
          width: 20%;
        }
      }
    }
  }
}


@media(max-width: 767px) {
  .woocommerce {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
  }
  .woocommerce {
    margin-top: 20px;
    .dashboard {
      h2 {
        font-size: 15px !important;
        width: 100% !important;
      }
      span {
        float: right;
      }
      hr {
        margin: 0px 0px 20px;
      }
      .info {
        font-size: 12px;
      }
      .add {
        position: relative;
        &:after {
          left: inherit;
          right: -35px;
        }
      }
      .addressess .content, .rfc .content {
        margin:40px 0px 40px 0px;
        max-width: 100%;
        .name {
          margin-right: 5px;
          width: 20%;
        }
        span {
          right: -20px;
        }
      }
      .content {
        flex-wrap: wrap;
      }
      .products {
        .item.product {
          width: 100%;
        }
        .item.price,
        .item.quantity,
        .item.total {
          width: 33%;
        }
        .item.date,
        .item.address {
          .title {
            margin:10px 0;
          }
          margin-bottom: 20px;
          width: 100%;
        }
      }
    }
  }
}

