.woocommerce .woocommerce-MyAccount-content {
  .full-size {
    width: 100%;
  }
  form {
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
    max-width: 810px;
    width: 100%;
    .server-response {
      align-items: center;
      background: #FFF;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: bold;
      height: 0;
      justify-content: center;
      left: 0;
      overflow: hidden;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 9;
      .icon {
        display: none;
        margin: 0 auto 20px;
        width: 130px;

        img {
          display: block;
          height: auto;
          max-width: 100%;
        }
      }
    }
    &.sending,
    &.error,
    &.success {
      .server-response {
        border: none;
        height: 100%;
        padding: 1em 1em;
      }
    }
    &.sending .server-response .icon:nth-child(1) {
      display: block;
      max-width: 130px;
      width: 100%;
    }
    &.success .server-response .icon:nth-child(2) {
      display: block;
      max-width: 130px;
      width: 100%;
    }
    &.error .server-response .icon:nth-child(3) {
      display: block;
      max-width: 130px;
      width: 100%;
    }
  }
  h1 {
    color: #000000;
    font-family: 'GothamMedium';
    font-size: 20px;
    margin-bottom: 40px;
    padding: 10px 0;
    position: relative;
    &:after {
      content: '';
      background: url(assets/images/color_line.svg) no-repeat center center;
      background-size: contain;
      bottom: 0;
      height: 3px;
      left: -30px;
      max-width: 70px;
      position: absolute;
      width: 100%;
    }
  }
  h2 {
    font-family: 'GothamMedium', sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: normal;
    width: fit-content;
  }
  label {
    color: #4A4A4A;
    font-family: 'GothamBook';
    font-size: 12px;
  }
  input {
    height: 36px;
    padding-left: 10px;
  }
  .name {
    width: 30%;
  }
  .label {
    font-family: 'GothamRegular';
    font-size: 12px;
    line-height: 1;
  }
  .last-name {
    width: 65%;
  }
  .main-title {
    align-items: center;
    display: flex;
  }
  button {
    background-color: #E91E63;
    border:2px solid #E91E63;
    border-radius: 25px;
    color: #ffffff;
    display: flex;
    font-family: 'GothamBold';
    font-size: 14px;
    margin-left: auto;
    text-transform: uppercase;
    padding: 1.110em 2.6em;
    transition: background-color 355ms linear, color 355ms linear;
    &.delete {
      background: transparent url(assets/images/trash-1.svg) no-repeat center center;
      border: none;
      border-radius: 100%;
      cursor: pointer;
      padding: 20px;
      &:hover {
        background: #E91E63 url(assets/images/trash-2.svg) no-repeat center center;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        padding: 20px;
      }
    }
    &:hover {
      background-color: #ffffff;
      color: #E91E63;
    }
  }
  .flex-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    p {
      display: block;
      float: none;
    }
    .large-size {
      width: 58.025%;
    }
    .medium-size {
      width: 39.45%;
    }
    .small-size {
      width: 18.5%;
    }
    .half-size {
      width: 48.5%;
    }
    .extra-large-size {
      width: 79.025%;
    }
    .full-size {
      width: 100%;
    }
  }
  .bottom-buttons {
    align-items: center;
    display: flex;
    margin-top: 70px;
    a {
      color:#000000;
      text-transform: uppercase;
      font-size: 10px;
      &:hover {
        color:#E91E63;
      }
    }
  }
  .input-container {
    padding: 3px 0;
  }
  .input-container.invalid {
    padding: 3px 0;
    input {
      border: 1px solid #E91E63;
      &::-webkit-input-placeholder {
        color: #E91E63;
      }
      &::-moz-placeholder {
        color: #E91E63;
      }
      &:-ms-input-placeholder {
        color: #E91E63;
      }
      &:-moz-placeholder {
        color: #E91E63;
      }
    }
    span {
      display: none;
    }
  }
  .container-form.false {
    background-color: #ffffff;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    .content-return {
      font-size: 14px;
      font-family:'GothamBook';
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .woocommerce .woocommerce-MyAccount-content {
    .flex-container {
      flex-flow: column;
    }
    .flex-container .medium-size,
    .flex-container .small-size,
    .flex-container .extra-large-size,
    .flex-container .large-size {
      width: 100%;
    }
  }
}