/*
Theme Name: Inksumos Store
Theme URI: https://bitbucket.org/goplek/inksumos-store/src/master/
Author: the Goplek DEV team
Author URI: http://goplek.com
Description: This is an specific design for an e-commerce.
Requires at least: WordPress 5.1
Version: 0.1
License: GNU General Public Licence v2 or later
Licence URI: LICENSE
Text Domain: inksumos
Tags: store, e-commerce, customizable, editor

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
 */
body {
  background-color: #fff;
  color: #4A4A4A;
  font-family: 'GothamBook', sans-serif;
  font-size: 12px;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

body.no-scroll {
  overflow: hidden;
}

p {
  font-family: 'GothamBook', sans-serif;
  font-size: 17px;
  line-height: 24px;
  strong {
    font-family: 'Gotham Medium', sans-serif;
    font-weight: 700;
  }
}

.holder {
  margin: 0 auto;
  max-width: 1050px;
  width: 100%;
}

svg {
  display: block;
  height: auto;
  width: 100%;
}

/* Outer wrapper */
.outer-wrapper {
  margin-top: 38px;
  position: relative;
}

@media (max-width: 991px) {
  .outer-wrapper {
    margin-top: 5px;
  }
}

/* Block */
.block {
  padding: 65px 0;

  .header {
    font-family: 'GothamMedium', sans-serif;
    font-size: 16px;
    margin-bottom: 35px;

    .title {
      font-family: 'GothamBold', sans-serif;
      font-size: 20px;
      margin-top: 0;
      text-align: center;
    }
  }
}

@mixin line-decoration($width, $height) {
  $w: ($width / 3);

  display: block;
  margin: 0 auto;
  width: $width;

  & > span {
    border-bottom: $height solid #EB008B;
    display: block;
    margin-left: $w;
    margin-right: $w;
    position: relative;
    width: $w;

    &:after,
    &:before {
      border-bottom: $height solid;
      content: "";
      position: absolute;
      width: 100%;
    }

    &:after {
      border-color: #FFF100;
      right: -100%;
    }

    &:before {
      border-color: #00ADEE;
      left: -100%;
    }
  }
}

@import "assets/sass/products-component";
@import "assets/sass/services";
@import "assets/sass/inner-products";
@import "assets/sass/cover-products";
@import "assets/sass/content-products";
@import "assets/sass/carrousel";
@import "assets/sass/pl_modal.min";
@import "assets/sass/pl_profile_modal";
@import "assets/sass/cover-inner-services";
@import "assets/sass/mixin-validate";
@import "assets/sass/states-contact";
@import "assets/sass/product-detail";
@import "assets/sass/pl-modal";
@import "assets/sass/modal-custom-product";
@import "assets/sass/preliminary-view-product";
@import "assets/sass/assistant-search";
@import "assets/sass/calculator";
@import "assets/sass/range-slider";
@import "assets/sass/slider";
@import "assets/sass/assistant-result";

@import "assets/sass/cover";
@import "assets/sass/us";
@import "assets/sass/business";
@import "assets/sass/contact";
@import "assets/sass/cart";
@import "assets/sass/registerForm";
@import "assets/sass/woocommerce_dashboard";
@import "assets/sass/woocommerce_profile";
@import "assets/sass/checkout";

@import "assets/sass/page";

@import "assets/sass/navigation";
@import "assets/sass/footer";
@import "assets/sass/fonts";
